@import "~assets/sass/variables";

.top{
  height: 90px;
  h5{
    height: 21px;
    font-size: 18px;
    color: #f79f2b;
    margin-bottom: 18px;
  }
  
}

.drag-over{
  border:2px dashed #f79f2b;
}

.table{
  
  .manage{
    width: 76px;
  }
  .name{
    margin-left: 15px;
    height: 16px;
    font-size: 14px;
    color:$turquoise-blue;
  }
  th {
    cursor: pointer;
    color:$turquoise-blue;
    height: 21px;
    font-size: 18px;
    font-weight: inherit;
    .title{
      margin-left: 10px;
      color:$turquoise-blue;
    }
  }
  
  td {
    cursor: pointer;
    padding: 0;
    vertical-align: middle;
    .btn{
      padding: 5px
    }
    > div{
      display: flex;
      align-items: center;

      > i {
        margin-right: 7px;
      }
    }

  }
}