<div>
  <div class="top" pDraggable="dd">
    <h5>Groups</h5>
    <a (click)="createGroup()"><div class="button-group">
      <span>Add Group</span>
    </div></a>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <i class="icon-agent"></i><span class="title">All Agents</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of groups; let i = index" pDroppable="dd" (onDrop)="drop(i, item.id)">
        <td>
          <div class="name" (click) ="selectGroup(item)">{{item.name}}</div>
        </td>
        <td class="manage">
          <button class="btn btn-link" (click)="editGroup(i)" tooltip="Edit" placement="bottom"><i class="material-icons">edit</i></button>
          <button class="btn btn-link" (click)="deleteGroup(i,item._id)" tooltip="Delete" placement="bottom"><i class="material-icons">delete</i></button>
        </td>
      </tr>
    </tbody>
  </table>


  <!-- <div class="card-body" pDraggable="dd">
    <a (click)="createGroup()" class="card-link">Create group</a>
    <a (click)="onTabOpen()" class="card-link">All agents</a>
  </div> -->



  <!-- <p-accordion
    (onOpen)="onTabOpen($event)"
    *ngIf="groups">
    <p-accordionTab *ngFor="let item of groups; let i = index;" pDroppable="dd" (onDrop)="drop(i, item.id)">
      <p-header>
        {{item.name}}
      </p-header>
      Drop an agent here to add it.
      <div>
        <button class="btn btn-pm" (click)="deleteGroup(i, item.id)">Delete group</button>
      </div>
      <div>
        Constant agents: <span class="badge badge-pill badge-light">{{item?.agents?.length}}</span>
      </div>
      <app-evaluate-group-agent [group]="item" [agents]="agents"></app-evaluate-group-agent>
      <hr/>
      <br>
      <app-group-dynamic-condition-filter [group]="item"></app-group-dynamic-condition-filter>
    </p-accordionTab>
  </p-accordion> -->
</div>
