<div>
  <div class="top" pDraggable="dd">
    <h5>Groups</h5>
    <button class="btn-blue btn" (click)="createGroup()">
      <span>Add Group</span>
    </button>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <i class="icon-agent"></i><span (click)="allAgents()" class="title">All Agents</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of groups; let i = index" pDroppable="dd" (drop)="drop(i, item.id)" (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave()" (dragover)="allowDrop(i)" (dragleave) = "onDragLeave()" [ngClass]="{'drag-over':selectedDropGroupIndex == i}">
        <td>
          <div class="name" (click) ="selectGroup(item)">{{item.name}}</div>
        </td>
        <td class="manage">
          <button *ngIf="selectedGroup == item || onHover == i"  class="btn btn-link" (click)="editGroup(i)" tooltip="Edit" placement="bottom"><i class="material-icons">edit</i></button>
          <button *ngIf="selectedGroup == item || onHover == i"  class="btn btn-link" (click)="deleteGroup(i,item._id)" tooltip="Delete" placement="bottom"><i class="material-icons">delete</i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
