<div class="modal-content mx-3">
  <div class="modal-header pr-3 pl-3 pt-0">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <i class="material-icons text-white close" (click)="modalRef.hide()"
      >close</i
    >
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="kh-btn kh-btn-gray"
      (click)="onAction('cancel')"
    >
      Cancel
    </button>
    <button
      type="submit"
      class="kh-btn kh-btn-blue"
      (click)="onAction('save')"
      [disabled]="!disabledCond"
    >
      Save
    </button>
  </div>
</div>
