<div class="modal-content-wrapper">
    <div class="modal-header">
        <i class="material-icons close" (click)="onClose()">close</i>
        <h4>Edit group</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Group Name</label>
            <input type="text" id="title" class="form-control" [(ngModel)]="name" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="kh-btn kh-btn-gray" (click)="onClose()"><span>Cancel</span></button>
        <button type="submit" class="kh-btn-blue kh-btn" (click)="onConfirm()"><span>Save</span></button>
    </div>
</div>