@import "~src/assets/sass/variables";
.material-icons{
    margin-right: 7px;
    font-size:19px;
    cursor: pointer;

}

.tooltiptext{
    position: relative;
    ::ng-deep {
        bs-tooltip-container{
            top:calc(50% -2px) !important;
            left:calc(50% -2px) !important;
            .tooltip-inner{
                background-color:$background-tooltip;
                border: 1px solid $border-tooltip; 
            }
            .tooltip-arrow::before{
                border-left-color:$border-tooltip
            }
            
        }
      }
}
