<div class="main">
  <div class="row">
    <div class="col-12">
      <button class="btn pm" (click)="archiveMap()">Archive <i class="material-icons">archive</i></button>

      <div class="form-row">
        <p class="col-4">
          Project:
          <select class="form-control" [(ngModel)]="selectedProject" id="project" (change)="onChangeProject()">
            <option disabled>Select a project</option>
            <option *ngFor="let project of projects" [ngValue]="project._id">{{project.name}}</option>
          </select>
        </p>
      </div>
      <p>
        Description: <span placeholder="Add description..." [(inlineEdit)]="map.description" (valueChanged)="onMapUpdate()" *ngIf="map">    </span>
      </p>
      <div class="form-row">
        <p class="col-4">
          Queue: <input type="number"
                        class="form-control"
                        [(ngModel)]="map.queue"
                        (change)="onMapUpdate()"
                        *ngIf="map"/>
        </p>
      </div>
      <hr class="my-4">
      <p>Created at: {{ map?.createdAt | date: 'short'}}</p>
      <p>
        Licence: <span placeholder="Add map licence..." [(inlineEdit)]="map.licence" (valueChanged)="onMapUpdate()" *ngIf="map"></span>
        <!-- Licence: <input type="text" placeholder="Add map licence..." (onChange)="onMapUpdate()" [(ngModel)]="map.licence" *ngIf="map" /> -->
      </p>
    </div>
  </div>
</div>
