@import "~assets/sass/base";
@import "~assets/sass/variables";
@import "~assets/sass/mixins";

.main {
  @extend .reset-padding;

  flex-grow: 1;
  padding-left: 26px;
  padding-top: 30px;
  background-color: #22272c;
  @include input();
  @include select();
  @include textarea();
  .button-archive{
    margin-left: -4px;
    .material-icons{
      padding-right: 10px;
    }
  }
  .created-at{
    height: 16px;
    font-size: 14px;
    color: $greyish-text;
  }
  .map-properties{
    height: 700px;
    width: 430px;
    .form-row{
      display: inherit;
      padding-top: 28px;
      width: 100%;
      .title{
        margin-bottom: 15px;
        font-size: 14px;
        color: #dddddd;
      }
      .map-description{
        height: 100px;
      }
    }
  }

}

.btn {
  &.pm {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
