<div class="main">
  <div class="row">
    <div class="col-12">
      <p>
        Description: <span [(inlineEdit)]="map.description" (valueChanged)="onMapUpdate()" *ngIf="map"></span>
      </p>
      <button class="btn btn-success" (click)="archiveMap()">Archive <i class="material-icons">archive</i></button>
      <hr class="my-4">
      <p>Created at: {{ map?.createdAt | date: 'short'}}</p>
      <p>
        Licence: <span [(inlineEdit)]="map.licence" (valueChanged)="onMapUpdate()" *ngIf="map"></span>
      </p>
    </div>
  </div>
</div>
