@import "~assets/sass/base";


.main {
  @extend .reset-padding;
  display: flex;
  flex-grow: 1;

  .row{
    flex-grow: 1;
  }
}

.btn {
  &.pm {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
