<div class="main">
  <div class="map-properties">
    <div class="button-archive">
        <button class="kh-btn kh-btn-blue" *ngIf="!map?.archived" (click)="archiveMap(true)"><i class="material-icons">archive</i>Archive</button>
        <button class="kh-btn kh-btn-blue" *ngIf="map?.archived" (click)="archiveMap(false)"><i class="material-icons">unarchive</i>Unarchive</button>
    </div>
    <div class="form-row dropdown">  
        <p class="title">Project</p>
        <p-dropdown [options]="projectsDropDown" 
        (onChange)="onChangeProject()" [(ngModel)]="selectedProject" 
        [autoWidth]="false">
        </p-dropdown>
    </div>
    <div class="form-row">
      
        <p class="title">Description</p>
        <textarea class="form-control map-description" placeholder="eg. This map will..." [(ngModel)]="map.description" (keyup)="onMapUpdate()" *ngIf="map"></textarea>

      
    </div>
    <div class="form-row">
      
        <p class="title">Queue</p>
        <input type="number"
                      placeholder="eg. CI"
                      class="form-control"
                      [(ngModel)]="map.queue"
                      (change)="onMapUpdate()"
                      *ngIf="map"/>
      
    </div>
    <div class="form-row dropdown">  
        <p class="title">Get response after:</p>
        <p-dropdown 
        [options]="processesDropDown" 
        (onChange)="onChangeProcessResponse()" 
        [(ngModel)]="apiResponseAfterProcess" 
        placeholder="Select a process"
        [autoWidth]="false">
        </p-dropdown>
    </div>
    <div class="form-row">
      
        <p class="title">Code Reference</p>
        <input 
        class="form-control"
        [(ngModel)]="apiResponseCodeReference"
        (keyup)="onapiResponseCodeReference()"
        *ngIf="map"/>
                      
    </div>
  </div>
 <div class="created-at">
  <p>Created at: {{ map?.createdAt | date: 'short'}}</p>
 </div>
</div>
