<div class="modal-content">
  <div class="modal-header pr-0 pl-0 pt-0">
    <h4 class="modal-title">Create User</h4>
    <i class="material-icons text-white close" (click)="bsModalRef.hide()"
      >close</i
    >
  </div>
  <div class="modal-body pr-0 pl-0 pb-0">
    <app-edit-user></app-edit-user>
    <div class="d-flex flex-row justify-content-end pr-0 pl-0 pb-0 btn-row">
      <button
        type="button"
        class="kh-btn kh-btn-gray"
        (click)="bsModalRef.hide()"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="kh-btn kh-btn-blue"
        [disabled]="formInvalid"
        (click)="onCreateUser()"
      >
        Create
      </button>
    </div>
  </div>
</div>
