<div class="head-title">
  <h1>
    <span placeholder="Enter map name" [(inlineEdit)]="map.name" (valueChanged)="edited=true" *ngIf="map">{{map.name}}</span>
    <span *ngIf="map?.archived">(archived)</span>
  </h1>
</div>

<div class="map-nav">

  <div class="action-buttons">
    <a *ngIf="map && downloadJson" [href]="downloadJson" download="{{map.name}}.json" class="kh-btn-blue kh-btn">Export</a>
  </div>

  <ul class="nav justify-content-center">
    <li class="nav-item" routerLinkActive="active" *ngFor="let navItem of navItems">
      <a class="nav-link" [routerLink]="navItem.routerLink">{{navItem.name}}</a>
    </li>
  </ul>

  <div class="action-buttons ">
    <!--<button type="button" class="btn" (click)="discardChanges()" *ngIf="edited || structureEdited" disabled>Discard</button>-->
    <button type="button" class="kh-btn-blue kh-btn" *ngIf="!edited && !structureEdited" disabled>Saved</button>
    <button type="button" class="kh-btn-blue kh-btn" (click)="saveMap()" *ngIf="edited || structureEdited">Save</button>
    <button  class="kh-btn-blue kh-btn" (click)="executeMap()" *ngIf="(map?.agents.length || map?.groups.length)">
      Execute
      <span *ngIf="executing"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
    </button>
    <button  class="kh-btn-blue kh-btn disabled" *ngIf="!(map?.agents.length || map?.groups.length)"  [tooltip]="'No agents selected'">
      Execute
    </button>


    <div class="dropdown">
        <p-dropdown [(ngModel)]="selected" 
        [options]="configurationDropDown"  
        [autoWidth]="false">
        </p-dropdown>
    </div>
  </div>
</div>

<div class="router-wrapper">
  <router-outlet></router-outlet>
</div>