<div class="head-title">
  <h1>
    <span placeholder="Enter map name" [(inlineEdit)]="map.name" (valueChanged)="edited=true" *ngIf="map">{{map.name}}</span>
    <span *ngIf="map?.archived">(archived)</span>
    <span *ngIf="structuresList[0] && mapStructure?.id !== structuresList[0].id && structureIndex < structuresList.length">
      (<i class="material-icons">history</i> {{ structureIndex }}/{{ structuresList.length }})
    </span>
  </h1>
</div>

<div class="map-nav">

  <div class="action-buttons">
    <a *ngIf="map && downloadJson" [href]="downloadJson" download="{{map.name}}.json" class="kh-btn-blue kh-btn">Export</a>
  </div>

  <ul class="nav justify-content-center">
    <li class="nav-item" routerLinkActive="active" *ngFor="let navItem of navItems">
      <a class="nav-link" [routerLink]="navItem.routerLink">{{navItem.name}}</a>
    </li>
  </ul>

  <div class="action-buttons">
    <!--<button type="button" class="btn" (click)="discardChanges()" *ngIf="edited || structureEdited" disabled>Discard</button>-->
    <button type="button" class="kh-btn-blue kh-btn" *ngIf="!edited && !structureEdited" disabled>Saved</button>
    <button type="button" class="kh-btn-blue kh-btn" (click)="saveMap()" *ngIf="edited || structureEdited">Save</button>
    <button class="kh-btn-blue kh-btn" (click)="executeMap()">
      Execute
      <span *ngIf="executing"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
    </button>
    <select [(ngModel)]="selected" (change)="changeSelected()">
      <option *ngIf="mapStructure?.configurations?.length === 0">No configs</option>
      <option [value]="i" *ngFor="let item of mapStructure?.configurations; let i = index;">
        {{item.name | truncatechars: 8}}
      </option>
    </select>
  </div>
</div>



<div class="router-wrapper">
  <router-outlet></router-outlet>
</div>