@import "~src/assets/sass/base";
@import "~src/assets/sass/mixins";
@import "~src/assets/sass/variables";

.map-nav {
  height: 70px;
  min-height: 70px;
  border-top: 1px solid $cool-grey;
  border-bottom: 1px solid $cool-grey;
  display: flex;
  align-items: center;

  ul.nav {
    flex-grow: 1;
    height: 100%;

    .nav-item {
      display: flex;
      align-items: center;
      
      .nav-link{
        font-size: 16px;
      }

      &.active {
        border-bottom: 3px solid $turquoise-blue;
      }

      &:hover{
        .nav-link{
          color: $turquoise-blue-hover;
        }
      }
    }
  }
  

  .action-buttons {
    padding : 0 22px;
    .dropdown{
      width:150px;
      @include dropdown();
    }
    &:last-of-type{
      display: flex;
      justify-content: flex-end;
    }

    select{
      padding: 0px 6px;
      width: 134px;
      border-radius: 3px solid $input-bg;
    }

    .kh-btn{
      min-width: 80px;
    }
  }

}

.head-title{
  flex-shrink: 0;
  h1{
    margin: 0px 0px 0px 20px;
  }
}

.router-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;

  ::ng-deep > *:not(router-outlet) {
    display: flex;
    flex-grow: 1;
  }
}
