<div class="mode">
  <i class="material-icons" [ngClass]="{'active': mode==='list'}" (click)="mode = 'list'">view_list</i>
  <i class="material-icons grid-icon" [ngClass]="{'active': mode==='grid'}" (click)="mode = 'grid'">view_module</i>
</div>
<div class="container-fluid">
  <div class="content-wrapper" [ngSwitch]="mode" *ngIf="executions">
    <div class="row grid-view" *ngSwitchCase="'grid'">
        <div class="card dashboard-card" *ngFor="let item of executions"  [routerLink]="['/maps',item.map.id, 'results']" >
          <div class="card-body">
              <div class="content-card">
                <h5 class="card-title">{{ item.map.name }}</h5>
                <p class="trigger-by">Trigger:  {{ item.exec.trigger }}</p>
                <p>Last run: {{ item.exec.startTime | date: 'short' }}</p>
                <!-- <p>Status:   {{ item.status}}</p> -->
                <div class="project">Project: &nbsp;<a class="link" *ngIf="!isEnabled"  (click)="goToProject($event, item.map.project.id)" > {{ item.map.project.name}}</a> </div>
              </div>
              <div class="chart-wrapper">
                <ngx-charts-pie-chart [results]="item.status" [labels]="showLabels" [scheme]="colorScheme" [doughnut]="true" [view]="[130,130]"  [arcWidth]="0.23">
                </ngx-charts-pie-chart>
            </div>
          </div>
      </div>
    </div>
    <div class="row list-view" *ngSwitchCase="'list'">
      <p-dataTable [value]="executions.slice(0,20)" expandableRows="true" #dt (onRowClick)="dt.toggleRow($event.data)">
        <p-column field="map.name" header="Map"></p-column>
        <p-column field="startTime" header="Last executed">
          <ng-template let-col let-item="rowData" pTemplate="body">
            {{ item.exec.startTime | date: 'short' }}

          </ng-template>
        </p-column>
        <ng-template let-item pTemplate="rowexpansion">
          <div class="row" [routerLink]="['/maps',item.map.id, 'results']">
            <div class="col-4">
              <ngx-charts-pie-chart [results]="item.status" [labels]="false" [scheme]="colorScheme" [doughnut]="true">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </ng-template>
      </p-dataTable>
    </div>  
  </div>
</div>