<div class="mode">
  <i class="material-icons" [ngClass]="{'active': mode==='list'}" (click)="mode = 'list'">view_list</i>
  <i class="material-icons grid-icon" [ngClass]="{'active': mode==='grid'}" (click)="mode = 'grid'">view_module</i>
</div>
<div class="container-fluid">
  <div class="content-wrapper" [ngSwitch]="mode" *ngIf="executions">
      <map-cards [maps]="executions" *ngSwitchCase="'grid'"></map-cards>
    <div class="row list-view" *ngSwitchCase="'list'">
      <p-dataTable [value]="executions.slice(0,20)" expandableRows="true" #dt (onRowClick)="dt.toggleRow($event.data)">
        <p-column field="map.name" header="Map"></p-column>
        <p-column field="startTime" header="Last executed">
          <ng-template let-col let-item="rowData" pTemplate="body">
            {{ item.exec.startTime | date: 'short' }}

          </ng-template>
        </p-column>
        <ng-template let-item pTemplate="rowexpansion">
          <div class="row" [routerLink]="['/maps',item.map.id, 'results']">
            <div class="col-4">
              <ngx-charts-pie-chart [results]="item.status" [labels]="false" [scheme]="colorScheme" [doughnut]="true">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </ng-template>
      </p-dataTable>
    </div>  
  </div>
</div>