@import "~assets/sass/variables";
@import "~assets/sass/mixins";
.mode {
    height: 70px;
    background-color: #25292c;
    ;
    padding: 28px;
    i {
        cursor: pointer;
        &:hover {
            color: #fff;
        }
        &.active {
            color: $turquoise-blue;
        }
    }
}

.container-fluid {
    padding: 32px 40px 2px;
    .content-wrapper {
        display: flex;
        margin: 0;
        width: 100%;
        .list-view {
            margin: 0;
            @include table();
        }
    }
}