<div class="main-iam-list">
  <div class="list-management">
    <div class="title">
      <i class="material-icons">perm_identity</i>
      <h5>Users</h5>
    </div>
    <div class="row">
      <button appPermissionsCheck permission="create"  class="kh-btn kh-btn-blue" (click)="openCreateModal()">Create User</button>
      <div class="filter-text">
        <div>
          <i class="material-icons">search</i>
          <input
            class="form-control"
            [(ngModel)]="filterOptions.globalFilter"
            type="text"
            placeholder="Filter"
            #globalFilter
          />
        </div>
      </div>
    </div>
  </div>
  <div class="users-list">
    <app-management-table
      [resultCount]="resultCount"
      [name]="'users'"
      [value]="users"
      (delete)="deleteUser($event)"
      (edit)="editUser($event)"
      [fields]="fields"
      (load)="loadUserLazy($event)"
    ></app-management-table>
  </div>
</div>
