<div>
  <button class="btn btn-pm" (click)="addNewFilterParam()">Add filter</button>
  <hr/>
  <form [formGroup]="filterForm">
    <div formArrayName="params">

      <div *ngFor="let f of filterForm.controls.params['controls']; let i=index">
        <i class="material-icons" (click)="removeFilter(i)">close</i>
        <div [formGroup]="f">
          Field:
          <select class="form-control" formControlName="field">
            <option *ngFor="let item of fields" [ngValue]="item">{{item}}</option>
          </select>
          Type:
          <select class="form-control" formControlName="filterType">
            <option *ngFor="let item of filterTypes" [ngValue]="item">{{item}}</option>
          </select>
          Value:
          <input class="form-control" formControlName="value"/>
        </div>
        <hr/>
      </div>
    </div>
  </form>
</div>
