<div class="pm-modal">
  <div class="modal-header">
    <i class="material-icons close" (click)="onClose()">close</i>
    <h4>Add trigger</h4>
  </div>
  <form [formGroup]="triggerForm" (ngSubmit)="onConfirm(triggerForm.value)" *ngIf="triggerForm">
    <div class="modal-body">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" formControlName="description"></textarea>
      </div>

      <div class="form-group dropdown">
        <label for="configuration">Configuration</label>
        <p-dropdown id="configuration" [options]="configDropDown" optionLabel="name" formControlName="configuration"
                    [autoWidth]="false">
        </p-dropdown>
      </div>

      <div class="form-group dropdown">
        <label for="plugin">Plugin</label>
        <p-dropdown id="plugin" [options]="triggers" optionLabel="name" placeholder="Select a trigger" formControlName="plugin" (onChange)="onSelectTrigger()" 
                    [autoWidth]="false">
          </p-dropdown>
      </div>

      <div class="form-group dropdown" *ngIf="triggerForm.controls.plugin.value">
        <label for="method">Method</label>
        <p-dropdown id="method" [options]="plugin?.methods" optionLabel="viewName" placeholder="Select a method" formControlName="method" (onChange)="onSelectMethod()" 
                    [autoWidth]="false">
        </p-dropdown>
      </div>
      <div class="params" formArrayName="params" *ngIf="triggerForm.controls.method.value">
        <div class="row">
          <div class="col-4 header">Name</div>
          <div class="col-8 header">Value</div>
        </div>
        <div class="row-param" *ngFor="let param of triggerForm.controls.params.controls; let i = index">
          <div [formGroupName]="i">
            <div class="row ">
              <div class="col-4 param-name">{{param.value.viewName}}</div>
              <div class="col-8" [ngSwitch]="params[i]?.type">
                <select *ngSwitchCase="'options'" formControlName="value" class="form-control">
                  <option *ngFor="let option of params[i].options" [value]="option.id">{{option.name}}</option>
                </select>
                <input *ngSwitchDefault formControlName="value" type="text" class="form-control">
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="kh-btn kh-btn-gray" (click)="onClose()"><span>Cancel</span></button>
      <button type="submit" class="kh-btn-blue kh-btn" [disabled]="triggerForm?.invalid"><span>Save</span></button>
    </div>
  </form>
</div>
