@import "~src/assets/sass/mixins";
@include dropdown();
.params{
    .row{
        .header{
            font-size: 14px;
            font-weight: bold;
            color:$pale-blue;
            padding-right: 0;
            padding-left: 0;
            margin-bottom: 14px;
        }
     }
     ::ng-deep{
         app-params{
             .input{
                flex: 0 0 66.6%;
                max-width: 66.6%;
             }
             .action-params{
                font-size: 14px;
                padding-bottom: 18px;
                border-bottom: 1px solid rgba(0,0,0,.1);
                margin-bottom: 23px;
             }
         }
     }
 }