@import "~assets/sass/variables";

.trigger-form{
    padding: 25px 38px 0px;
    .form-group{
        margin-bottom: 25px;
        label{
            margin-bottom: 14px;
            font-size: 14px;
            color: $greyish-text;
        }
    }
    .params{
       .row{
           .header{
               font-size: 14px;
               font-weight: bold;
               color:$pale-blue;
               padding-right: 0;
               padding-left: 0;
               margin-bottom: 14px;
           }
        }
        .row-param{
            margin-bottom: 25px;
             .param-name{
                font-size: 14px;
                padding-left: 0;
            }

            .col-8{
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}
.btn-submit{
    border-top: 0;
    padding: 9px 38px 38px !important;
}