@import "~src/assets/sass/variables";

.row {
  flex-grow: 1;
  margin-left: 0;
  flex-wrap: initial;
  margin : 0;

  .side-nav {
    background: $kh-background;
    flex : 0 0 60px;
    .nav{
      padding-top: 19px;
    }
  }
  .main-content {
    flex-grow: 1;
    display: flex;

    ::ng-deep{
      > *:not(router-outlet){
        display: flex;
        flex-grow: 1;
      }
    }
  }
}

ul.nav {
  align-items: center;
  li.nav-item {
    margin-bottom: 15px;
    a.nav-link {
      color: $unselected-env-nav;
      font-size: 24px;
      i {
        width: 24px;
        height: 24px;
      }
      &:hover {
        cursor: pointer;
      }

    }

    &.active {
      a.nav-link {
        color: $kaholo-orange;
      }
    }
  }
}
