@import "~src/assets/sass/variables";

.main-admin {
  display: flex;
  height: 100%;
  .side-nav {
    background: $kh-background;
    .nav{
      padding-top: 19px;
    }
  }
  .main-content {
    width: 100%;
    ::ng-deep{
      .content-wrapper{
        display: flex;
        padding: 18px $admin-padding;
      }
    }
    
  }
}


ul.nav {
  align-items: center;
  li.nav-item {
    margin-bottom: 15px;
    a.nav-link {
      color: $unselected-env-nav;
      font-size: 24px;
      i {
        width: 24px;
        height: 24px;
      }
      &:hover {
        cursor: pointer;
      }

    }

    &.active {
      a.nav-link {
        color: $kaholo-orange;
      }
    }
  }
}
