<div class="row pm-modal">
  <div class="col-12">
    <div class="modal-header">
      <h4>Select Agents</h4>
      <button type="button" class="close" (click)="onClose()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <input #gb type="text" pInputText size="50" class="form-control" placeholder="Filter">
      </div>
      <p-dataTable [value]="groups" [globalFilter]="gb" [responsive]="true" expandableRows="true"
                   [(selection)]="selectedGroups"
                   dataKey="id">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

        <p-column [style]="{'width':'38px'}" expander="true"></p-column>
        <p-column field="name" header="name" [sortable]="true"></p-column>
        <ng-template let-group pTemplate="rowexpansion">
          Constant agents: {{ group.agents?.length }}
          <br/>
          Filters:
          <ul>
            <li *ngFor="let item of group.filters"><abbr title="Field">{{ item.field }}</abbr> <abbr
              title="Filter Type">
              {{ item.filterType }}</abbr> <abbr title="Value">'{{ item.value }}'</abbr></li>
          </ul>
        </ng-template>
      </p-dataTable>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="onClose()">Cancel</button>
      <button class="btn-primary btn" (click)="onConfirm()">Confirm</button>
    </div>
  </div>
</div>
