@import "~src/assets/sass/variables";
@import "~src/assets/sass/mixins";

.bg-dark {
  background: $selected-tab-environment !important ;
}

.card-body{
  padding: 24px;

  .row{
    display: flex;
    justify-content: flex-start;
    .process-time{
      padding-top: 20px;
    }
    .process-pie-charts{
      margin-top: -24px;
    }
  }
  .row{

    @include table();
    

    .action-status{
      display: flex;
    
      i {
        margin-right: 5px;
      }
    
      .action-status-text{
        text-transform: capitalize;
        
      }
    }

    .col-12{
      display: flex;
      justify-content: space-around;
      padding: 0;
      .action-time{
        width: 52%;
        padding-left: 8px;
        p{
          margin-bottom: 8px;
        }
      }
      .action-output{
        padding: 17px 26px;
        width: 48%;
        margin-top: -$table-row-height;
        background-color: $card-background;
        .action-header{
          font-size: 14px;
          color: $turquoise-blue;
        }
        .raw-output {
          max-height: 140px;
          overflow-y: scroll;
          margin-top: -26px;
        
          .raw-output-data{
            white-space: pre-line;
          }
        
          .fa-arrows-alt{
            cursor: pointer;
            margin-right: 4px;
          }
        }
        
      
        
        
        .row-card{
          display: flex;
          justify-content: flex-end;
          cursor:pointer
        }
      }
    }
  }
}
