@import "~assets/sass/variables";
.bg-dark {
  background: $dark-background !important;
}
.raw-output {
  max-height: 140px;
  border: 1px solid $cool-grey;
  overflow-y: scroll;
  padding: 15px 13px 15px 13px;
}


.action-status{
  display: flex;

  i {
    margin-right: 5px;
  }

  .action-status-text{
    text-transform: capitalize;
  }
}


.row-card{
  display: flex;
  justify-content: flex-end;
}
