@import "~assets/sass/base";
@import "~assets/sass/variables";

.design-wrapper{
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  margin-left: 0;
  margin-right: 0;

  .main{
    display: flex;
    flex-grow: 1;
    padding: 0;
    border-left: 1px solid $cool-grey;
    flex-direction: column;
  }
}


.wrapper {
  .main {
    overflow-y: hidden;
  }
  .map-management {
    max-width: 450px;
    padding: 0;
    background: $selected-tab-environment;
    overflow-y: auto;
  }
}

.map-controllers {
  background: $dark-background;
  text-align: right;
  padding-right: 25px;
  .btn {
    color: $greyish-text;
    background: transparent;
    padding: 5px;
    &:hover {
      background: rgba(254, 234, 255, 0.3);
      cursor: pointer;
    }
  }
}

.graph {
  background: $dark-background;
  width : initial !important;
  height : initial !important;
  flex-grow: 1;

  ::ng-deep{
    > svg {
      .hidden{
        visibility: hidden;
      }
    }
  }
}

.pane-header {
  @extend .pane-header;
  margin-bottom: 0;
}

/* port styling */
.available-magnet {
  fill: green;
}

/* element styling */
.available-cell rect {
  stroke-dasharray: 5, 2;
}
