@import "~src/assets/sass/base";
@import "~src/assets/sass/variables";

.design-wrapper{
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  margin-left: 0;
  margin-right: 0;
  app-map-graph{
    width: 100%;
  }

  .map-management {
    max-width: 450px;
    min-width: 449px;
    padding: 0;
    background: $selected-tab-environment;
    overflow-y: auto;
    border-left: 1px solid #4c5156;
  }
}







