@import "~assets/sass/variables";

.nav {
  .nav-item {
    cursor: pointer;
    &.active {
      color: $turquoise-blue;
      font-weight: bolder;
      border-bottom: 3px solid $turquoise-blue;
    }
  }
  margin-bottom: 15px;
}
