<div class="container pm-modal">
  <div class="modal-header">
    <h1>Import/Export</h1>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" (click)="onCancel()">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <ul class="nav">
      <li class="nav-item" (click)="confirm=true" [ngClass]="{'active': confirm}">
        <a class="nav-link">Export</a>
      </li>
      <li class="nav-item" (click)="confirm=false" [ngClass]="{'active': !confirm}">
        <a class="nav-link">Import</a>
      </li>
    </ul>

    <div [ngSwitch]="confirm" >
      <div *ngSwitchCase="true">
        <textarea #copyElm rows="15" class="form-control">{{ mapStructure }}</textarea>

      </div>
      <div *ngSwitchCase="false">
        <p>Paste map below {{ confirm }}</p>
        <span class="text-danger">{{ error }}</span>
        <textarea class="form-control" type="text" [(ngModel)]="importedStructure"></textarea>
      </div>

    </div>


  </div>

  <div class="modal-footer">
    <button type="button" class="btn pm" (click)="onCancel()">Cancel</button>
    <button type="submit" class="btn pm" *ngIf="confirm" (click)="copyMap()">Copy</button>
    <button type="submit" class="btn pm" *ngIf="!confirm" (click)="onConfirm()">Import</button>
  </div>
</div>
