<div class="main">
  <h1 class="section-title">Agents</h1>
  <div class="row">
    <div class="groups">
      <app-groups [agents]="agentsStatus"></app-groups>
    </div>
    <div class="agents">
    <div *ngIf="!selectedGroup">
      <div class="top">
        <h5>Agent &#8594; All Agents</h5>
      </div>
      <app-constants-list  [agentsStatus]="agentsStatus" [agents] ="agents"></app-constants-list>
    </div>
    <div *ngIf="selectedGroup">
      <div class="top">
        <h5>Agent &#8594; {{selectedGroup?.name}}</h5>
        <div>
          <a (click)="showAgents()"><span [ngClass]="{'selected':constants}" >Constants</span> <span class="agentsLength">({{selectedGroup?.agents?.length}})</span></a>
          <a [ngClass]="{'selected':!constants}" (click)="showFilters()" class="filters">Filters <span class="agentsLength">({{selectedGroup?.filters?.length}})</span></a>
          <button *ngIf="!constants" class="btn btn-pm button-filter" (click)="addNewFilterParam(selectedGroup)"><span>Add filter</span></button>
        </div>
      </div>
      <app-constants-list  *ngIf="constants" [group]="selectedGroup" [agentsStatus]="agentsStatus" [agents] ="agents"></app-constants-list>
      <app-filter-group-list *ngIf="!constants" [group]="selectedGroup"></app-filter-group-list>
      </div>
    </div>
  </div>
</div>
