<div class="main">
  <h1 class="section-title">Agents</h1>
  <div class="row">
    <div class="groups">
      <app-groups [agents]="agentsStatus"></app-groups>
    </div>
    <div class="agents">
      <div *ngIf="!selectedGroup">
        <div class="top">
          <h5>Agents &#8594; All </h5>
        </div>
        <app-constant-agents-list [agentsStatus]="agentsStatus" [agents]="agents"></app-constant-agents-list>
      </div>
      <div *ngIf="selectedGroup">
        <div class="top">
          <h5>Agent &#8594; {{selectedGroup?.name}}</h5>
          <div class="agents-group-actions">
            <div class="agent-tabs">
              <a (click)="showAgents()"><span [ngClass]="{'selected':constants}">Constants</span> <span class="agentsLength">({{selectedGroup?.agents?.length}})</span></a>
              <a [ngClass]="{'selected':!constants}" (click)="showFilters()" class="filters">Filters <span class="agentsLength">({{selectedGroup?.filters?.length}})</span></a>
            </div>
            <button [hidden]="constants" class="btn btn-blue add-filter-btn" (click)="addNewFilterParam(selectedGroup)"><span>Add
                filter</span></button>
          </div>
        </div>
        <app-constant-agents-list [hidden]="!constants" [group]="selectedGroup" [agentsStatus]="agentsStatus" [agents]="agents"></app-constant-agents-list>
        <app-agents-group-filters-list [hidden]="constants" [group]="selectedGroup"></app-agents-group-filters-list>
      </div>
    </div>
  </div>
</div>