.table{
  td {
    padding: 0;
    vertical-align: middle;

    > div{
      display: flex;
      align-items: center;

      > i {
        margin-right: 7px;
      }
    }
  }
}

.main{
  flex-grow: 1;

  .section-title{
    margin-bottom: 25px;
  }

  .row{
    .col-3{
      padding-left: 0;
    }

    .col-9{
      padding-right: 0;
    }
  }
}
