@import "~assets/sass/variables";
@import "~assets/sass/mixins";

.selected{
  border-bottom: 2px solid $pale-blue
}

.main{
  flex-grow: 1;
  .row{
    padding: 18px 40px;
    .groups{
      padding-left: 4px;
      padding-right: 45px;
      width: 30%;
      height: 810px;
      margin-top: 17px
    }

    .agents{
      margin-top: 17px;
      padding-right: 0;
      padding-left: 45px;
      width: 70%;
      border-left: 1px solid #4c5156;
      height: 810px;

      .top{
        height: 90px;

        

        h5{
          font-size: 18px;
          color: $kaholo-orange;
          margin-bottom: 24px
        }
        .agents-group-actions{
          display: flex;
          justify-content: space-between;
          height: 36px;

          .agent-tabs{
            width: 500px;
            a{
              font-size: 17px;
              color:$pale-blue;
              cursor:pointer;
              .agentsLength{
                color: $kaholo-orange
              }
            }
            .filters{
              margin-left: 17px;
              margin-right:60%
            }
          }
        }
      }
      th{
        font-size: 18px;
        color: $greyish-text;
        font-weight: inherit
      }
      .item{
        height: 16px;
        font-size: 14px;
        color: $greyish-text;
      }
    }
  }
}
