@import "~src/assets/sass/base";
@import "~src/assets/sass/variables";

.side-bar {
  @extend .base-shadow;
  @extend .side-bar;
}

.environment-pane {
  flex: 0 0 60px;
  background: $dark-background;
}

.environment {
  max-width: 250px;
  flex: 0 0 250px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  .pane-header {
    i {
      &:hover {
        color: #fff;
        cursor: pointer;
      }
      float: right;
      padding: 9px;
    }
  }

  .pane-content {
    flex-grow: 1;
    display: flex;
    
    > * {
      flex-grow: 1;
      display: flex;
    }
    
  }
}

.row {
  flex-wrap: nowrap;
}

.designer {
  flex-grow: 1;
  display: flex;
}

ul.nav {
  align-items: center;
  li.nav-item {
    margin-bottom: 15px;
    a.nav-link {
      color: $unselected-env-nav;
      font-size: 24px;
      i {
        width: 24px;
        height: 24px;
      }
      &:hover {
        color: $kaholo-orange;
        cursor: pointer;
      }

    }

    &.active {
      a.nav-link {
        color: $kaholo-orange;
      }
    }
  }
}

.router-wrapper {
  display: flex;
  flex-grow: 1;

  ::ng-deep > *:not(router-outlet) {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
  height: 100%;
}


.map-edit-wrapper, app-plugin-toolbox{
  display: flex;
  flex-grow: 1;
}