<div class="row map-edit-wrapper">
  <div class="environment-pane">
    <!--<app-map-environment-pane></app-map-environment-pane>-->
    <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let tab of envTabs" (click)="openTab(tab);" [ngClass]="{'active': activeTab && tab.key===activeTab.key}">
            <a class="nav-link" [tooltip]="tab.label" placement="right">
              <i [ngClass]="tab.icon" aria-hidden="true"></i>
            </a>
          </li>
      </ul>
    </div>

  </div>
  <div class="environment" [ngSwitch]="activeTab.key" *ngIf="activeTab">
    <div class="pane-header">{{activeTab.label}}<span (click)="closeTabs();">
      <i class="material-icons">chevron_left</i>
    </span>
    </div>
    <div *ngSwitchCase="'agents'" class="pane-content pane-content-agents">
      <app-map-agents></app-map-agents>
    </div>


    <div *ngSwitchCase="'triggers'" class="pane-content">
      <app-map-triggers></app-map-triggers>
    </div>

    <div *ngSwitchCase="'plugins'" class="pane-content">
      <app-plugin-toolbox></app-plugin-toolbox>
    </div>
  </div>

  <div class="designer">
    <div class="router-wrapper" #wrapper>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

