<div class="container pm-modal">
  <div class="modal-header">
    <h1>{{ title }}</h1>
    <button type="button" class="close" (click)="onAction(cancel)" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    {{ message }}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn pm" (click)="onAction(cancel)">{{ cancel }}</button>
    <button type="submit" [hidden]="!third" class="btn pm" (click)="onAction(third)" *ngIf="third">{{ third }}</button>
    <button type="submit" class="btn pm" (click)="onAction(confirm)">{{ confirm }}</button>
  </div>
</div>
