
.modal-header{
    padding-top: 0 !important;
    height: 64px;
    .close{
        margin:-5px -24px -28px auto;
    }
}
.modal-body{
    padding:53px 38px 0px!important;
    border-bottom: 0;
}
.btn-confirm{
    padding:38px 38px 38px!important;
    display: flex;
    justify-content: flex-end;
}