@import "~src/assets/sass/mixins";
.main {
    .head-title {
        a {
            margin-right: 10px;
        }
    }

    .featured {
        width: 100%;
    }
    @include table();

    .name-wrapper {
        display: flex;
        align-items: center;
        i {
            margin-right: 10px;
        }
    }

    .list-content{
        .map-description{
            max-width: 100%;
            word-break: break-word;
        }
    }

    .row {
        .btns {
            display: flex;
            a {
                margin-right: 10px
            }
        }
        .garbage{
            cursor: pointer; 
        }
    }

    @include page-list-items();
    
    .lead {
        .btn-link {
            font-size: inherit;
            outline: none;
            padding: 0px;
            border: 0px;
            box-sizing: none;
            background-color: transparent;
        }
    }
}
