@import "~assets/sass/mixins";

.main {
  .featured {
    width: 100%;
  }
  .row {
    a, button {
      &.create {
        margin-top: 15px;
        margin-right: 10px;
      }
    }
  }
}

.lead {
  .btn-link {
    font-size: inherit;
    outline: none;
    padding: 0px;
    border: 0px;
    box-sizing: none;
    background-color: transparent;
  }
}

.filter {
  margin-top: 25px;

  h5 {
    padding-bottom: 15px;
  }
  @include searchBox();
}
