::ng-deep .modal-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: initial;
}


.modal-content-wrapper{
    max-width: initial;
    max-height: 85vh;
    overflow-y: auto;
    width: 85vw;
    max-width: 1300px;

  

    .modal-body{
        > ul > li {
            white-space: pre-line;
            word-break: break-word;
            margin: 0px;
        }
    }
}
