<div class="main">
  <div class="row content-wrapper" >
    <div class="col-3">
      <div class='versions' style="height: 100%; overflow-y: scroll" infiniteScroll [scrollWindow]="false" 
      [infiniteScrollDisabled]="maxLengthReached" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150" (scrolled)="onScroll()">
        <ul>
          <li *ngFor="let item of structures" [class.selected]="currentStructure?.id === item?.id"  (click)="previewStructure(item.id)">
            <span class="revision-title">{{ (item.createdAt | date: 'dd/MM/yyyy') + ' ' +  (item.createdAt | date: 'HH:mm') }}</span>
    
            <div class="revision-actions-wrapper">
              <span>
                <button class="btn-inline-action" (click)="duplicateMap(item.id)"
                tooltip="Save As"
                placement="right">
                <i class="material-icons">content_copy</i></button>
              </span>
              <span>
                <button class="btn-inline-action" (click)="changeStructure(item.id)"
                tooltip="Revert to revision"
                placement="right">
                <i class="material-icons">open_in_new</i></button>
              </span>
            </div>
            
            </li>
          </ul>
      </div>
    </div>
    <div class="col-9" #wrapper (window:resize)="onResize($event)">
      <div id="graph" [hidden]="viewMode !== 'design'"></div>
      <div class="row code-container" id="container" *ngIf="viewMode === 'code'">
        <div class="title">
            <span class="current">Current</span>
            <span>Latest</span>
        </div>  
        <ngx-monaco-diff-editor [options]="monacoOptions" [originalModel]="originalModel" [modifiedModel]="modifiedModel"></ngx-monaco-diff-editor>
      </div>
      <div class="select-mode" *ngIf="currentStructure">
        <span class="option" (click)="changeMode('design')"
              [ngClass]="{'selected': viewMode === 'design'}">Design</span>
        <span class="option" (click)="changeMode('code')" [ngClass]="{'selected': viewMode === 'code'}">Code</span>
      </div>
    </div>
    <div class="process-preview" *ngIf="previewProcess">
      <app-process-view [process]="previewProcess" (close)="onClose()"></app-process-view>
    </div>
  </div>
</div>
