@import "~assets/sass/variables";

.main {
  height: 100%;
  flex-grow: 1;
  display: flex;
  .content-wrapper{
    display: flex;
  }
  .row {
    flex-grow: 1;
    margin: 0;

    .col-3 {
      flex: 0 0 25%;
      max-width: 300px;
      padding-left: inherit;
      padding-right: inherit;
    }

    .col-9 {
   
      padding: 0;
      flex: 0 0 75%;
      flex-grow: 1;
      max-width: initial;
      display: flex;
      
      
    }
  }
}

#graph {
  background: $dark-background;
  width: initial !important;
  height: initial !important;
  flex-grow: 1;
}

.btn-inline-action {
  color: $text-color;
  background: transparent;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  &:hover {
    background: rgba(92, 92, 92, 0.7);
    cursor: pointer;
  }
}

.versions {
  height: 100%;
  overflow-y: scroll;
  ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    li {
      padding-left: 15px;
      border-bottom: 1px solid $cool-grey;
      height: 55px;
      display: flex;
      align-items: center;

      &:hover, &.selected {
        background-color: $dark-background;
      }

      &.selected {
        border-left: solid 5px $turquoise-blue;
      }

      .revision-title {
        margin-right: 60px;
      }
    }
  }
}

.select-mode {
  position: absolute;
  bottom: 25px;
  right: 50%;
  border-radius: 5px;
  background: $background;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, .2) 2px 2px;
  .option {
    padding: 0px 10px 0px 10px;

    &:hover {
      cursor: pointer;
      color: #fff;
    }

    &.selected {
      color: $turquoise-blue;
      font-weight: bolder;
    }

  }
}

.code-container {
  height: 100%;
  flex-direction: column;

  .title {
    display: flex;
    padding: 10px 0;
    width: 100%;
    height: auto;
 

    .current {

      flex: 0 0 calc((100% - 45px) / 2);
      text-align: left;

    }
  }

  ngx-monaco-diff-editor{
    flex-grow: 1; 
  }

  ::ng-deep{
    .editor-container{
      height: 100%;
    }
  }

  div {
    height: 100%;
  }
}

.code-editor {
  height: 90%;
  width: 100%;
}

.process-preview {
  position: absolute;
  right: 0;
  width: 25%;
  height: calc(100% - 120px);
  background: $background;
}
