@import "~assets/sass/base";
.main {
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    .pane-title {
        @extend .pane-header;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .code-editor {
        height: 95%;
        width: 100%;
    }
}