@import "~src/assets/sass/variables";

.month-control {
  i {
    //font-size: 12px;
  }
  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.event {
  display: flex;

  span {
    margin-right: 5px;

    &.delete-job{
      margin-left : 10px;

      &:hover {
        cursor: pointer;
        color: $turquoise-blue;
      }
    }

    &.text-info{
      margin-right : 10px;
    }
  }
}
