@mixin border-box($color, $top, $right, $bottom, $left) {
  border-style: solid;
  border-width: $top $right $bottom $left;
  border-color: $color;
}

@mixin searchBox(){
  > div {
    display: flex;
    align-items: center;
    position: relative;
    i {
      position: absolute;
      right: 10px;
    }
  }
}
@mixin table(){
  ::ng-deep p-datatable{
    .ui-datatable{
      table{
        thead{
          background-color: #2d3236;
          tr{
            height: 53px;
            td{
              height: 21px;
              font-family: Roboto;
              font-size: 18px;
              font-weight: 500;
              color: #dddddd;
            }
          }
        }
        tbody{
          height: 1090px;
          background-color: #2d3236;
          tr{
            height: 53px;
            td{
              height: 32px;
              font-family: Roboto;
              font-size: 14px;
              color: #dddddd;
              .ui-cell-data{
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}