@mixin border-box($color, $top, $right, $bottom, $left) {
  border-style: solid;
  border-width: $top $right $bottom $left;
  border-color: $color;
}

@mixin searchBox(){
  > div {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
    i {
      position: absolute;
      right: 10px;
    }
  }
}