.nav-tabs {
  border-bottom: none;

  .kh-tab {
    background: none;
    background-color: inherit;
    color: $pale-blue;
    & > .nav-link {
      border: none;
      &:hover,
      &.active {
        color: inherit;
        background-color: inherit;
      }
      &.active {
        border-bottom: 3px solid $pale-blue;
      }
    }
  }
}
