<div class="table-wrapper">
  <p-dataTable
    [value]="value"
    [lazy]="isLazy"
    [rows]="15"
    [paginator]="true"
    [pageLinks]="4"
    [totalRecords]="resultCount"
    (onLazyLoad)="loadElementLazy($event)"
  >
    <ng-container *ngFor="let field of fields">
      <p-column [field]="field.value" [header]="field.label" [sortable]="true">
        <ng-template let-col let-item="rowData" pTemplate="body">
          <div class="name-wrapper" *ngIf="field.value == 'name'">
            <a [routerLink]="['/admin/users-management/', name, item._id]">{{
                item[field.value]
              }}</a>
          </div>
          <div
            class="name-wrapper"
            *ngIf="field.value !== 'name' && !isArray(item[field.value])"
          >
            <span>{{ item[field.value] }}</span>
          </div>
          <ng-container
            class="name-wrapper tooltip-wrapper"
            *ngIf="isArray(item[field.value])"
          >

            <ng-template #tooltip>
                <ul class="tooltip-list pl-2 pr-2">
                  <li *ngFor="let link of item[field.value]" class="pb-1 pt-1">
                    <a
                      href=""
                      [routerLink]="[
                        '/admin/users-management/',
                        field.value,
                        link._id
                      ]"
                    >{{ link.name }}</a
                    >
                  </li>
                </ul>
            </ng-template>

            <div
              [tooltip]="tooltip"
              placement="right"
              triggers="click:click"
              class="cube-bordered tooltiptext"
            >
              {{ item[field.value].length }}
            </div>

          </ng-container>
        </ng-template>
      </p-column>
    </ng-container>
    <p-column
      field=""
      header="Actions"
      [sortable]="true"
      [style]="{ width: '120px' }"
    >
      <ng-template let-col let-i="rowIndex" let-item="rowData" pTemplate="body">
        <div class="actions-wrapper">
          <i
            appPermissionsCheck permission="remove"
            class="material-icons hover"
            (click)="onConfirmDelete(item._id)"
            tooltip="Delete"
          >delete_outline</i
          >
          <i class="material-icons hover" (click)="onEdit(i)" tooltip="Edit"
             appPermissionsCheck permission="update"
          >edit</i
          >
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
