@import "~src/assets/sass/base";
@import "~src/assets/sass/variables";

.main{
    overflow-y: hidden;
    display: flex;
    flex-grow: 1;
    padding: 0;
    border-left: 1px solid $cool-grey;
    flex-direction: column;
    height: 100%;

    .graph {
      background: $dark-background;
      width : initial !important;
      height : initial !important;
      flex-grow: 1;
    
      ::ng-deep{
        > svg {
          .hidden{
            visibility: hidden;
          }
        }
      }
    }

    .map-controllers {
      background: $dark-background;
      display: flex;
      flex-direction: row-reverse;
      padding-right: 25px;
      .zoom{
        border-radius: 19px;
        margin-top: 15px;
        border: 1px solid $unselected-env-nav;
        padding: 0px 5px;
        .btn {
          color:$unselected-env-nav;
          background: transparent;
          padding: 5px 3px;
          cursor: pointer;
          outline: none;
          box-shadow: none;
        }
      }
      
    }
}