<div *ngIf="userGroup$ | async as userGroup">
  <div class="title mb-3">
    <h5 class="d-flex align-items-center">
      <i class="kh-orange-text material-icons">
        group
      </i>
      <span class="kh-orange-text pl-2 pr-2">Group</span>
      <i class="kh-orange-text material-icons pr-2">
        arrow_right_alt
      </i>
      {{ userGroup.name }}
    </h5>
  </div>
  <tabset>
    <tab heading="Users" customClass="kh-tab">
      <app-user-group-details-users
        [getGroup$]="userGroup$"
      ></app-user-group-details-users>
    </tab>
    <tab customClass="kh-tab" heading="Policies">
      <div class="iam-policy">
        <app-basic-policy
          [name]="'IAM'"
          [permissions]="userGroup.iamPolicy.permissions"
          [policy]="iamPolicySubject"
        ></app-basic-policy>
        <div class="buttons">
          <button
            type="submit"
            class="kh-btn kh-btn-blue ml-4 float-right"
            (click)="saveIAMPolicy()"
          >
            Save
          </button>
        </div>
      </div>
    </tab>
    <tab heading="Settings" customClass="kh-tab">
      Nothing yet.
    </tab>
  </tabset>
</div>
