<div class="modal-content-wrapper">
  <div class="modal-header">
    <h4>Import map</h4>
    <button type="button" class="close" (click)="onClose()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span class="text-danger">{{ error }}</span>
    <div class="form-group">
      <label>Map name</label>
      <input type="text" class="form-control" required [(ngModel)]="name">
    </div>

    <div class="form-group">
      <label>Upload file</label>
      <input type="file" class="form-control-file" (change)="onUploadFile($event)">
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="kh-btn kh-btn-gray" (click)="onClose()"><span>Cancel</span></button>
    <button class="kh-btn-blue kh-btn" (click)="onConfirm()"><span>Confirm</span></button>
  </div>
</div>
