<ng-container *ngIf="user$ | async as user">
  <div class="title">
    <span class="mr-2"><i class="material-icons">perm_identity</i></span>
    <span class="mr-2">User</span>
    <span class="mr-2"><i class="material-icons">arrow_forward</i></span>
    <span class="mr-2" *ngIf="user">{{ user.name }}</span>
  </div>

  <div class="creation-date" *ngIf="user">
    Creation date: {{ user.createdAt | date: "short" }}
  </div>

  <tabset>
    <tab heading="Policies" customClass="kh-tab">
      <div class="iam-policy">
        <app-policy
          [name]="'IAM'"
          [permissions]="user.iamPolicy.permissions"
          [policy]="iamPolicy"
        ></app-policy>
        <div class="buttons">
          <button
            type="submit"
            class="kh-btn kh-btn-blue ml-4 float-right"
            (click)="saveIAMPolicy()"
          >
            Save
          </button>
        </div>
      </div>
    </tab>
    <tab heading="Groups" customClass="kh-tab">
      <app-user-details-groups [getUser$]="user$"></app-user-details-groups>
    </tab>
    <tab heading="Settings" customClass="kh-tab tab-settings">
      <app-edit-user *ngIf="user" [user]="user"></app-edit-user>
      <div class="buttons">
        <button type="button" class="kh-btn kh-btn-blue" (click)="deleteUser()">
          Delete User
        </button>
        <button
          type="submit"
          class="kh-btn kh-btn-blue ml-4"
          (click)="saveUser()"
        >
          Save
        </button>
      </div>
    </tab>
  </tabset>
</ng-container>
