@import "~src/assets/sass/mixins";

input.form-control.ng-invalid.ng-touched, textarea.form-control.ng-invalid.ng-touched {
  border: 1px solid red;
}
.header{
  @include header();
}
.main {
  .map-form {
    .dropdown{
      width: 100%;
      @include dropdown();
    }
    max-width: 430px;
    @include input();
    @include select();
    @include textarea();
  }
}
