@import "~assets/sass/variables";
@import "~assets/sass/mixins";

.pm-modal{
  display: inherit;
  width: 607px;

  .modal-header{
    padding-top: 0 !important;
    .close{
        margin:-5px -24px -28px auto;
    }
}
  .modal-body {
    padding-top: 0px;
    .data-table{
      max-height: 350px;
      overflow: auto;
      .row-output{
        display: flex;
        align-items: center;
        .dotStatus{
          margin-right: 10px;
        }
      }
    }
      
      @include p-checkbox();

    ::ng-deep { 
      th{
        padding: 7px;
      }
      tr:hover {
      box-shadow: 0px 0px !important;
    } 
  }
    
  }
  
  .ui-widget-header{
    width: 214px;
    height: 36px;
    margin: 53px 0px 35px
  } 
  .tabs{
    margin-top: 2px;
    height: 33px;
    display: flex;
    color: $pale-blue;
    justify-content: center;
    width: 100%;

    .title-tab{
      padding: 0px 10px;
      margin: 0px 15px;
      cursor: pointer;

      &.active{
        border-bottom: 3px solid;
      }
    }
  }
}
.btn-agent-group{
  padding: 38px 38px 38px !important;
}

