<div class="pm-modal">
  <div class="modal-header">
    <i class="material-icons close" (click)="onClose()">close</i>
    <h4>Select Agents</h4>
      <div class="tabs">
        <div [class.active]="isAgentTab" (click)="isAgentTab = true" class="title-tab active">Agents</div>
        <div [class.active]="!isAgentTab" (click)="isAgentTab = false" class="title-tab">Group</div>
      </div>
    </div>


  <div class="modal-body">
    <div class="ui-widget-header">
      <input #gb type="text" pInputText size="50" class="form-control" placeholder="Filter">
    </div>

    <div class="data-table" *ngIf="isAgentTab">
      <p-dataTable [value]="agents" [globalFilter]="gb" [responsive]="true" [(selection)]="selectedAgents" dataKey="id">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="name" header="name" [sortable]="true">
          <ng-template let-col let-agent="rowData" pTemplate="body">
            <div class="row-output">
                <div class="dotStatus"  [ngClass]="{'green': agent.status?.alive, 'red': !agent.status?.alive}"></div>
              {{agent.name}}
            </div>
          </ng-template>
        </p-column>
        <p-column field="url" header="url" [sortable]="true"></p-column>
      </p-dataTable>
    </div>

    <div  class="data-table" *ngIf="!isAgentTab">
        <p-dataTable [value]="groups" [globalFilter]="gb" [responsive]="true" expandableRows="true"
                     [(selection)]="selectedGroups"
                     dataKey="id">
          <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
  
          <p-column field="name" header="name" [sortable]="true"></p-column>
      
          <p-column>
              <ng-template let-group="rowData" pTemplate="rowexpansion">
                  Constant agents: {{ group.agents?.length }}
                  <!-- <br/>
                  Filters:
                  <ul>
                    <li *ngFor="let item of group.filters"><abbr title="Field">{{ item.field }}</abbr> <abbr
                      title="Filter Type">
                      {{ item.filterType }}</abbr> <abbr title="Value">'{{ item.value }}'</abbr></li>
                  </ul> -->
                </ng-template>
          </p-column>
        </p-dataTable>
  
      </div>
      
    </div>
      <div class="modal-footer">
        <button type="button" class="kh-btn kh-btn-gray" (click)="onClose()"><span>Cancel</span></button>
        <button class="kh-btn-blue kh-btn" (click)="onConfirm()"><span>Confirm</span></button>
      </div>
</div>
