@import "~src/assets/sass/variables";
@import "~src/assets/sass/mixins";
.auth-main-wrapper {
  background-color: $cool-grey;
  min-height: 100vh;
  &.load-data {
    background-color: $kh-background;
    height: 100vh;
    width: 100vw;
  }
  .content {
    margin-top: 50px;
    .content-wrapper {
      background-color: $kh-background;
      margin: auto;
      width: 452px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      padding-bottom: 67px;
      .content-header {
        height: 110px;
        width: 452px;
        border-bottom: 1px solid $cool-grey;
        display: flex;
        align-items: center;
        .logo {
          width: 180px;
          margin: auto;
        }
      }
      .content-form {
        padding: 25px 50px 18px 52px;
        .content-title {
          width: 100%;
          color: $greyish-text;
          font-family: Roboto;
          font-size: 32px;
          font-weight: 300;
          text-align: center;
          margin-bottom: 25px;
        }

        .form-group {
          margin: 20px 0px;
        }

        .form-button {
          button {
            width: 142px;
          }

          margin: 40px 0px;
        }
      }
    }
  }
}
