.rainbow {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #42bc76), color-stop(0.3, #fffc07), color-stop(0.45, #22ffff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #42bc76), color-stop(0.3, #fffc07), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.process{
  display: flex;

  .process-status{
    margin-right: 4px;
  }

  .process-name{
    margin-right: 5px;
  }
}

