@import "~src/assets/sass/variables";
@import "~src/assets/sass/mixins";

.main {
  display: flex;
  flex-grow: 1;

  .pane-header{
    flex: 0 0 43px;
  }

  .execution-select-pane {
    flex: 0 0 195px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $cool-grey;

    .execution-list {
      flex-grow: 1;
      overflow: scroll;
      width: 229px;
      padding: 16px 23px 0px 26px;
      ul {
        padding-left: 0;
        list-style: none;
        font-size: 14px;

        a {
          padding-left: 15px;
          padding-right: 7px;
          height: 41px;
          line-height: 41px;
          color:#ddd;

          &:hover { 
            cursor: pointer;
            background: $dark-background;
            text-decoration: none; 
          }

          &.selected {
            background-color: $kh-selected-bck;
            box-shadow: -4px 0px 0px 0px $pale-blue;
            display: table-cell;
          }
          
          
        }
      }
    }
  }

  .result {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    .result-content{
      height: 100%;
      flex-grow: 1;
      overflow-y: auto;
      background-color: $kh-background;

      .container-fluid-process{
        display: flex;
        height: 100%;
        overflow: hidden; 

        .process-col{
          padding: 0 23px;
          border-right: 1px solid $cool-grey;
          height: 100%;
          width: 292px;

          .bg-dark{
            background: $kh-background !important;
            margin-top: 30px;

            &.display-data-wrapper{
              height: 230px;
            }

            .card-body{
              padding: 0;
              @include dropdown();
              .card-title{
                height: 21px;
                font-size: 18px;
                color: $pale-blue;
              }
              .agent-name{
                vertical-align:middle
              }
            }
          }
          .process{
            height: 100%;
            overflow: scroll;
            .process-select {

              height: 65%;
            overflow: scroll;
              .card-body {
                
                ul {
                  padding-left: 0;
                  list-style: none;
                  font-size: 14px;
                  margin-bottom: 0;
                  
                  li {
                    display: flex;
                    height: 41px;
                    align-items: center;
                    
                    .selected {
                      background-color: $kh-selected-bck;
                      box-shadow: -4px 0px 0px 0px $pale-blue;
                      display: table-cell;
                    }
                    
                    app-process-list-item{
                      opacity: inherit;
                      width: 100%;
                      height: 100%;
                      padding-top: 10px;
                      padding-left: 10px;
                    }
                    
                    
                    &:hover {
                      cursor: pointer;   
                      background: $kh-selected-bck;             
                    }
                  }
                }
              }
            }
          }
        }
        .results{
          width: 100%;
          padding: 0 9px;

          overflow: scroll;

          .row{
            margin-top: 30px;
          }

          .result-header-deck {
            .card {
              height: 230px;

              .card-body{
                height: 100%;
                padding: 24px;

                .result-overview{
                  display: flex;
                  flex-direction: row;
            
                  .details{
                    flex-grow: 1;
                    width: 68%;
                    
                    .execution-detail {
                      margin-bottom: 10px;
                      @include ellipsis();

                    }
                  }
            
                  .chart{
                    width: 200px;
                    flex-shrink: 0;
                    margin-top: -10px;

                    .pie-chart-parent { 
                      display: grid; 
                      overflow: hidden;
                    }
                  }
                }
              }

              &.raw-output {
                .card-body {
                  
                  .row-card{
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer
                  }
              
                  ul {
                    max-height: 135px;
                    overflow-y: auto;
                    > li {
                      word-break: break-word;
                    }
                  }
                }
              }
              
              &:not(:first-child) {
                overflow-y: hidden;
              }
            }
          }
        }
      }
    }
  }
}