@import "~assets/sass/variables";
@import "~assets/sass/base";
@import "~assets/sass/mixins";
.wrapper-form {

    .header-process{
        padding-left: 9px;
        padding-right: 13px;
        h3 {
            @extend .pane-header;
            border: none;
        }
    }

    .mandatory-check{
        display: flex;
        justify-content: space-around;
        @include checkbox();
        .text-muted{
            margin-top: 9px;
        }
    }
    .actions-dnd {
        .action-tile {
            &:hover {
                cursor: grab;
            }
            &:active {
                cursor: grabbing !important;
            }
        }
        .gu-transit {
            background: black;
            padding: 5px 10px 5px 20px;
        }
    }
    .add-action {
        width: 122px;
        float: right;
        margin: 25px 8px;
    }
    ::ng-deep {
        .panel-body {
            padding-right: 6px;
            padding-top: 0px;
        }
        .panel-open {
            background: #25292c;
            .card-header {
                border: none;
                background: #25292c;
            }
            .clearfix {
                color: $pale-blue;
            }
            .arrow {
                transform: rotate(180deg);
            }
        }
        .card {
            border-bottom: 1px solid #4c5156;

            &:hover{
              box-shadow: initial;
            }

            .card-header {
                cursor: pointer;
            }
        }
    }
    .process-form {
        margin-bottom: 55px;
        border-top: 0px;
        .action-form {
            font-size: 13px;
            padding-right: 20px;
            padding-left: 20px;
            background-color: #22272c;
            .header{
                display: flex;
                justify-content: space-between;
                .header-action{
                    font-size: 16px;
                    color: $pale-blue;
                    padding-top: 14px;
                    padding-bottom: 17px;
                }
            }

            .timeout{
                padding-right: 10px;
                padding-left: 0;
            }

            .retries{
                padding-right: 0;
                padding-left: 10px;
            }

            .check-control{
                margin-left: -8px;
            }
            .row-title{
                padding-top: 20px;
                font-weight: bold;
                
                .col-4{
                    padding-left: 0;
                }
                .col-2{
                    padding-left: 0
                }
                
            }
 
            .action-params {
                margin-bottom: 12px;
                .col-4{
                    padding-left: 0
                }
                .col-2{
                    @include checkbox();
                }
                .col-6{
                    padding-right: 0;
                }
            }
            .text-center{
                direction: rtl;
                padding-bottom: 30px;
                padding-top: 20px;
            }
            
        }
        .pane-bottom {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
    }
    .btn-group {
        margin-right: 25px;
    }
    .dropdown-pm {
        cursor: pointer;
        color: $pale-blue;
        .fa {
            display: flex;
            justify-content: center;
            font-size: 20px;
        }
    }
}