<div class="d-flex justify-content-between pane-header">
  <h3>Edit
    <span *ngIf="!action">{{processViewWrapper.process?.name? processViewWrapper.process.name: 'process'}}</span>
    <span *ngIf="action">action</span>
  </h3>
  <div *ngIf="!action">
    <div class="btn-group" dropdown placement="bottom right">
      <span class="dropdown-pm" dropdownToggle><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem"><a class="dropdown-item" (click)="deleteProcess()">Delete</a></li>
      </ul>
    </div>
  </div>
  <div *ngIf="action">
    <button type="button" class="btn btn-link" (click)="backToProcessView()">
      <i class="material-icons text-light">arrow_forward</i>
    </button>

  </div>
</div>

<div class="process-form">
  <form [formGroup]="processForm">
    <accordion [closeOthers]="true" [hidden]="action">
      <accordion-group>
        <div accordion-heading class="clearfix">
          Details
          <span class="float-right pull-right"><i class="material-icons arrow">keyboard_arrow_down</i></span>
        </div>
        <div class="form-group">
          <label for="uuid">uuid</label>
          <input type="text" class="form-control" id="uuid" disabled formControlName="uuid">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="form-group">
          <label for="description">Details</label>
          <textarea type="text" class="form-control" id="description" formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <input type="text" class="form-control" id="type" [value]="processViewWrapper.plugin.name" disabled>
        </div>
      </accordion-group>
      <accordion-group>
        <div accordion-heading class="clearfix">
          Conditions
          <span class="float-right pull-right"><i class="material-icons arrow">keyboard_arrow_down</i></span>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" formControlName="mandatory">
            Mandatory
          </label>
          <small class="form-text text-muted">If the process fails the execution will stop.</small>
        </div>
        <div class="form-group">
          <label for="condition">Condition</label>
          <input type="text" class="form-control" id="condition" formControlName="condition">
          <small class="form-text text-muted">Returns a boolean - determine if the process should run. You can refer to
            map code here.
          </small>
        </div>
        <!--<div class="form-check">-->
        <!--<label class="form-check-label">-->
        <!--<input type="checkbox" class="form-check-input" formControlName="correlateAgents">-->
        <!--Correlate agents-->
        <!--</label>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label for="condition">Filter agents condition</label>-->
        <!--<input type="text" class="form-control" id="filterAgents" formControlName="filterAgents">-->
        <!--<small class="form-text text-muted">Returns a boolean - determine if the process should run. You can refer to-->
        <!--map code here.-->
        <!--</small>-->
        <!--</div>-->
      </accordion-group>

      <accordion-group>
        <div accordion-heading class="clearfix">
          Flow Control
          <span class="float-right pull-right"><i class="material-icons arrow">keyboard_arrow_down</i></span>
        </div>

        <div class="form-group">
          <label>Agents flow control</label>
          <select class="form-control" formControlName="flowControl">
            <option value="each">{{FLOW_CONTROL_TYPES.each.label}}</option>
            <option value="wait">{{FLOW_CONTROL_TYPES.wait.label}}</option>
            <option value="race">{{FLOW_CONTROL_TYPES.race.label}}</option>
          </select>
          <small class="form-text text-muted">Controlling syncing between agents.</small>
        </div>

        <div class="form-group" *ngIf="processViewWrapper.process?.coordination">
          <label>Process coordination</label>
          <select class="form-control" formControlName="coordination">
            <option value="wait" *ngIf="!processViewWrapper.isInsideLoop">{{COORDINATION_TYPES.wait.label}}</option>
            <option value="race">{{COORDINATION_TYPES.race.label}}</option>
            <option value="each">{{COORDINATION_TYPES.each.label}}</option>
          </select>
          <small class="form-text text-muted">Controlling process sync.</small>
        </div>
      </accordion-group>
      <accordion-group>
        <div accordion-heading class="clearfix">
          Hooks
          <span class="float-right pull-right"><i class="material-icons arrow">keyboard_arrow_down</i></span>
        </div>

        <div class="form-group">
          <label for="preRun">Pre-run function</label>
          <input type="text" class="form-control" id="preRun" formControlName="preRun">
          <small class="form-text text-muted">This function will run with agent context before the process executes. The
            result will be added to the context. Code reference available.
          </small>
        </div>
        <div class="form-group">
          <label for="postRun">Post-run function</label>
          <input type="text" class="form-control" id="postRun"
                 formControlName="postRun">
          <small class="form-text text-muted">This function will run with agent context after the process finish
            execution. The
            result will be added to the context. Code reference available.
          </small>
        </div>
      </accordion-group>
      <accordion-group>
        <div accordion-heading class="clearfix">
          Actions
          <span class="float-right pull-right"><i class="material-icons arrow">keyboard_arrow_down</i></span>
        </div>
        <div formArrayName="actions" class="actions-dnd" [model]="processForm.controls.actions['controls']"
             (mouseup)="onMouseUp($event)" ngxDroppable>
          <div *ngFor="let action of processForm.controls.actions['controls']; let i=index" ngxDraggable
               [model]="action">
            <div class="d-flex justify-content-between action-tile">
              <span *ngIf="processForm.get('actions').at(i).get('name').value">{{processForm.get('actions').at(i).get('name').value}} (#{{i + 1}})</span>
              <span *ngIf="!processForm.get('actions').at(i).get('name').value">Action #{{i + 1}}</span>
              <span>
            <button type="button" class="white-btns" (click)="editAction(i)"><i
              class="material-icons">mode_edit</i></button>
            <button type="button" class="white-btns" (click)="removeAction(i)"> <i class="material-icons"> delete_outline</i></button>
          </span>
            </div>
          </div>
        </div>
        <button type="button" class="kh-btn-blue kh-btn add-action" (click)="addNewAction()">Add action</button>
      </accordion-group>
    </accordion>


    <div *ngIf="action" [formGroup]="processForm.controls.actions.at(index)" class="action-form">
      <div class="form-group">
        <label for="actionName">Name</label>
        <input type="text" class="form-control" id="actionName" formControlName="name">
      </div>
      <div class="row">
        <div class="col">
          <label>Timeout (ms)</label>
          <input type="text" class="form-control" placeholder="Timeout in ms" formControlName="timeout">
          <small class="form-text text-muted">If set to 0 won't have timeout. Defaults to 10 min.</small>

        </div>
        <div class="col">
          <label>Retries</label>
          <input type="text" class="form-control" placeholder="Retries" formControlName="retries">
        </div>
      </div>
      <hr>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" formControlName="mandatory">
          Mandatory
        </label>
        <small class="form-text text-muted">If the action fails the process will stop (with failure).</small>
      </div>
      <p class="lead">Method</p>
      <select id="inputState" class="form-control" formControlName="method" (change)="onSelectMethod()">
        <option selected disabled>Select a method</option>
        <option *ngFor="let method of this.processViewWrapper.plugin.methods" id="method._id" [ngValue]="method.name">{{method.viewName}}
        </option>
      </select>

      <div formArrayName="params">
        <div class="row">
          <div class="col-4">Name</div>
          <div class="col-2">Code?</div>
          <div class="col-6">Value</div>
        </div>
        <hr>
        <div *ngFor="let param of processForm.controls.actions.at(index).controls.params.controls; let k = index">
          <div [formGroupName]="k">
            <div class="row action-params">
              <div class="col-4">{{param.value.viewName}}</div>
              <hr>
              <div class="col-2"><input formControlName="code" type="checkbox" class="form-control"></div>
              <hr>
              
              <div class="col-6" [ngSwitch]="param.value.type" [hidden]="param.value.code">
                <textarea formControlName="value" class="form-control" *ngSwitchCase="'text'"></textarea>
                
                <app-vault-selector *ngSwitchCase="'vault'" formControlName="value" [c]="param" ></app-vault-selector>

                <select formControlName="value" class="form-control" *ngSwitchCase="'autocomplete'"> 
                  <option *ngFor="let opt of methods[processForm.value.actions[index].method].params[k].options"
                          [ngValue]="opt.id">{{ opt.value }}
                  </option>
                </select>
                <select formControlName="value" class="form-control" *ngSwitchCase="'options'">
                  <option *ngFor="let opt of methods[processForm.value.actions[index].method].params[k].options"
                          [ngValue]="opt.id">{{ opt.name }}
                  </option>
                </select>
                <input formControlName="value" type="number" step="any" class="form-control" *ngSwitchCase="'float'">
                <input formControlName="value" type="checkbox" class="form-control" *ngSwitchCase="'boolean'">
                <input formControlName="value" type="number" class="form-control" *ngSwitchCase="'int'">
                <input formControlName="value" type="text" class="form-control" *ngSwitchDefault>
              </div>
              <div class="col-6" [hidden]="!param.value.code">
                <input formControlName="value" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="button" (click)="backToProcessView()" class="btn pm text-center">Back to process</button>
      </div>
    </div>

  </form>
</div>

