@import '~src/assets/sass/variables';
.root {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: initial;
    .pm-sidebar {
        width: $sidebar-Width;
        max-width: $sidebar-Width;
        min-width: $sidebar-Width;
        flex-grow: 1;
        background-color: $pale-blue;
        display: flex;
        flex-direction: column;
        padding: 0px 5px 0;
        align-items: center;
        img {
            width: 40px;
            margin-bottom: 30px;
        }
        .nav {
            margin-top: 10px;
            align-items: center;
            height: 100%;
            justify-content: space-between;

            .version{
                color : white;
                text-align: center;
                margin-bottom: 17px;
                font-size: 14px;
            }

            li.nav-item {
                margin: 15px 0;
                border-radius: 5px;

                &.active{
                    background: $selected-nav;
                }
                
                &:not(.active):hover i{
                    opacity: 0.5;
                }
                
                a.nav-link {
                    cursor: pointer;
                    padding: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $text-color;
                    font-size: 24px;
                    i {
                        font-size: 21px;
                    }
                }
            }
        }
        .logo-wrapper {
            background-color: $dark-blue;
            img {
                margin: 15px;
                height: 40px;
            }
        }
    }
    .main {
        flex-grow: 1;
        display: flex;
        ::ng-deep>*:not(router-outlet) {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }
}

.search {
    width: 450px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $background;
    border-right: 1px solid $selected-nav;
    padding: 0 30px;
}

::ng-deep{
    ng-progress {
        .ng-progress-bar{
            .ng-bar-placeholder{
                height: 3px;

                .ng-bar{
                    background-color: $kaholo-orange !important;

                    .ng-meteor{
                        background-color: $kaholo-orange  !important;
                        box-shadow: $kaholo-orange 0px 0px 10px, $kaholo-orange 0px 0px 5px !important;
                    }
                }
            }

            .ng-spinner-icon{
                border-top-color: $kaholo-orange !important;
                border-left-color: $kaholo-orange !important;
            }
        }
    }
}