<div class="container-fluid setup-wrapper">
  <img src="/assets/images/logo.svg" alt="" />
  <h5 class="text-center section-title">Hi! great to have you here.</h5>
  <p>Let us help you setup your db.</p>
  <p>Please enter a valid MongoDB URI:</p>
  <p class="text-danger" *ngIf="error">{{ error }}</p>
  <form [formGroup]="URIForm" (ngSubmit)="onSubmitForm(URIForm.value)">
    <div class="col-6">
      <div class="form-group">
        <label>URI</label>
        <input type="text" class="form-control" formControlName="uri">
      </div>
      <button class="btn pm" [disabled]="URIForm.invalid">Set up</button>
    </div>
  </form>
</div>
