<div class="container-fluid">
  <p class="lead">Hi! great to have you here.</p>
  <p>Let us help you setup your db.</p>
    <p>Please enter a valid MongoDB URI:</p>

    <form [formGroup]="URIForm" (ngSubmit)="onSubmitForm(URIForm.value)">
  <div class="col-6">
      <div class="form-group">
        <label>URI</label>
        <input type="text" class="form-control" formControlName="uri">
      </div>
      <button class="btn pm" [disabled]="URIForm.invalid">Set up</button>
  </div>
    </form>
</div>
