<div class="title">
  <span class="mr-2"><i class="material-icons">perm_identity</i></span>
  <span class="mr-2">User</span>
  <span class="mr-2"><i class="material-icons">arrow_forward</i></span>
  <span class="mr-2">{{ "magic man" }}</span>
</div>

<div class="creation-date">Creation date: 12-12-2012</div>

<nav class="nav">
  <a class="nav-link" href="#">Policies</a>
  <a class="nav-link" href="#">Groups</a>
  <a class="nav-link active" href="#">Settings</a>
</nav>

<div class="nav-content"></div>
