<div class="title">
  <span class="mr-2"><i class="material-icons">perm_identity</i></span>
  <span class="mr-2">User</span>
  <span class="mr-2"><i class="material-icons">arrow_forward</i></span>
  <span class="mr-2" *ngIf="user">{{ user.name }}</span>
</div>

<div class="creation-date" *ngIf="user">
  Creation date: {{ user.createdAt | date: "short" }}
</div>

<tabset>
  <tab heading="Policies" customClass="kh-tab">
    TODO: Manage user's Policies component
  </tab>
  <tab heading="Groups" customClass="kh-tab">
    TODO: Manage user's Groups component
  </tab>
  <tab heading="Settings" customClass="kh-tab">
    <app-create-user></app-create-user>
  </tab>
</tabset>
