<div class="main-iam-list">
  <div class="list-management">
    <div class="title">
      <i class="material-icons">group</i>
      <h5>Groups</h5>
    </div>
    <div class="row">
      <a class="kh-btn kh-btn-blue" (click)="openCreateModal()">Create Group</a>
      <div class="filter-text">
        <div>
          <i class="material-icons">search</i>
          <input
            class="form-control"
            [(ngModel)]="filterOptions.globalFilter"
            type="text"
            placeholder="Filter"
            #globalFilter
          />
        </div>
      </div>
    </div>
  </div>
  <div class="groups-list">
    <app-management-table
      [resultCount]="resultCount"
      [name]="'groups'"
      [value]="userGroups"
      (delete)="deleteGroup($event)"
      (edit)="editGroup($event)"
      [fields]="fields"
      (load)="loadGroupLazy($event)"
    ></app-management-table>
  </div>
</div>
