<div class="main-users-list">
  <div class="list-management">
    <div class="title">
      <i class="material-icons">group</i>
      <h5>Groups</h5>
    </div>
    <div class="row">
      <a class="kh-btn kh-btn-blue" (click)="upsertGroup()">Create Group</a>
      <div class="filter-text">
        <div>
          <i class="material-icons">search</i>
          <input
            class="form-control"
            [(ngModel)]="filterOptions.globalFilter"
            type="text"
            placeholder="Filter"
            #globalFilter
          />
        </div>
      </div>
    </div>
  </div>
  <div class="users-list">
    <!--    <app-management-table-->
    <!--      [resultCount]="resultCount"-->
    <!--      [name]="'users'"-->
    <!--      [value]="users"-->
    <!--      (delete)="deleteUser($event)"-->
    <!--      (edit)="editUser($event)"-->
    <!--      [fields]="fields"-->
    <!--      (load)="loadUserLazy($event)"-->
    <!--    ></app-management-table>-->
  </div>
</div>
