.container, .wrapper{
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  .plugins-wrapper{
    overflow: overlay;
    height: -webkit-fill-available;
  }
}

.graph {
    background: transparent;
    width: initial !important;
    height: initial !important;
    flex-grow: 1;
    margin-top: 5px;

    ::ng-deep{

      > svg {
        overflow: visible;
        margin-bottom: 10px;

        .hidden{
          visibility: hidden;
        }
      }
    }
}

::ng-deep{
  #flyPaper{
    .hidden{
      visibility: hidden;
    }
  }
}


.filter{
  margin: 12px 0px 3px;
  padding: 2px 3px;
  border-bottom: 0 none;
  height: 39px;
  display: flex;
}