.container, .wrapper{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.graph {
    background: transparent;
    width: initial !important;
    height: initial !important;
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 5px;

    ::ng-deep{

      > svg {
        overflow: visible;
        margin-bottom: 10px;
      }
    }
}


.filter{
  margin: 12px 0px 0px;
  padding: 4px 10px;
  height: 39px;
  display: flex;
}