<div class="main">
  <div class="side-pane">
    <div class="pane-header">Configurations
    </div>
    <div class="configurations-list">
      <button class="btn pm" (click)="addNewConfiguration()">Add</button>
      <ul>
        <li *ngFor="let configuration of mapStructure?.configurations; let i = index" (click)="editConfiguration(i)"
            class="d-flex justify-content-between" [class.active]="selectedConfiguration === configuration">
          <span>
            {{configuration.name}}
          </span>
          <span>
            <i class="material-icons" (click)="removeConfiguration(i)">delete</i>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-content">
    <ngx-monaco-editor *ngIf="selectedConfiguration" class="code-editor" [options]="editorOptions"
                       [(ngModel)]="selectedConfiguration.value" (keyup)="updateMapStructure()"></ngx-monaco-editor>
  </div>
</div>
