@import "~src/assets/sass/variables";
table{
    th {    
        font-size: 18px;
        color: $greyish-text;
        font-weight: inherit
    }

    td {
        padding: 0;
        vertical-align: middle;
    
        &.description {
            padding-left: 18px;
            font-size: 14px;
            color: $greyish-text;
        }
        .icons-btn{
            .material-icons{
                color:$greyish-text;
            }
            &:hover{
                color: $greyish-text;
            }
        }
    }
}