table{
    th {    
        font-size: 18px;
        color: #dddddd;
        font-weight: inherit
    }

    td {
        padding: 0;
        vertical-align: middle;
    
        &.description {
            padding-left: 18px;
            font-size: 14px;
            color: #dddddd;
        }
        .icons-btn{
            .material-icons{
                color:#dddddd;
            }
            &:hover{
                color: #dddddd;
            }
        }
    }
}