<div class="pm-modal">
  <div class="modal-header">
    <i class="material-icons close" (click)="onClose()">close</i>
    <h4>Map name</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="optionsPopup.name">
    </div>
    <div class="form-group">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="optionsPopup.isChecked">
        Would you like to use the same agent ?
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="kh-btn kh-btn-gray" (click)="onClose()"><span>Cancel</span></button>
    <button class="kh-btn-blue kh-btn" (click)="onConfirm()"><span>Confirm</span></button>
  </div>
</div>