@import "~assets/sass/variables";
@import "~assets/sass/mixins";

.modal-header{
    padding-top: 0 !important;
    height: 64px;
    .close{
        margin:-5px -24px -28px auto;
    }
}
.modal-body{
    
    .title{
        margin-top: 28px;
    }
    .form-group {
        margin-bottom: 25px;
        label{
            font-size: 14px;
            color: $greyish-text;
        }
    }
    .checkbox{
        @include checkbox();
    }

} 
.btn-duplicate{
    padding:38px 38px 38px !important;
}