@import "~assets/sass/variables";

.pm-modal{
    width: 510px;
    height: 270px;
    border-radius: 4px;
    background-color: #2d3236;
    .modal-header{
        width: 510px;
        margin-left: -16px;
        border-bottom: 1px solid #404549;
        h4{
            height: 25px;
            font-family: Roboto;
            font-size: 22px;
            text-align: center;
            color: #dddddd;
            margin-left: 185px
        }
    }
    label{
        width: 140px;
        height: 16px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #dddddd;
    }
    input{
        width: 445px;
        height: 36px;
        border-radius: 3px;
        background-color: #3f4247;
        &::placeholder{
            width: 304px;
            height: 16px;
            font-family: Roboto;
            font-size: 14px;
            color: #868e96;
        }
    }
   .modal-footer{
       margin-right: 5px;
    .btn-primary{
        width: 100.9px;
        height: 36px;
        border-radius: 19px;
        background-color:#44acdf;
        padding: 5px;
        span{
            width: 96px;
            height: 18px;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            color: #ffffff;
            padding-bottom: 22px
        }
    }
    .btn-outline-primary{
        width: 100.9px;
        height: 36px;
        border-radius: 19px;
        background-color:#828384;
        padding: 5px;
        span{
            width: 96px;
            height: 18px;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            color: #ffffff;
            padding-bottom: 22px
        }
    }
   }
}