@import "~assets/sass/variables";

.modal-header{
    padding-top: 0 !important;
    height: 64px;
    .close{
        margin:-5px -24px -28px auto;
    }
}
label{
    margin-bottom: 14px;
    color:$greyish-text;
    font-size:14px;
}
.btn-group{
    padding: 38px 38px 38px!important;
}