::ng-deep .ui-autocomplete {
    display: flex !important;

    input{
        font-size: 1rem;
        width: 90%;
    }
    .ui-clickable{
        padding-bottom: 14px;
    }
    .ui-autocomplete-items{
        background-color: dimgrey;
    }
}