<app-general-modal-template
  modalTitle="Attach Groups"
  [modalRef]="bsModalRef"
  (action)="onAction($event)"
  [disabledCond]="newUserGroupsCollectionLength"
>
  <div class="filter my-4 col-md-4">
    <app-filter-text-input
      (onChange)="filterUserGroups($event)"
      placeholder="Search"
    ></app-filter-text-input>
  </div>

  <div class="table-wrapper">
    <p-table
      [totalRecords]="totalUserGroupsCount"
      [value]="userGroups"
      [rows]="15"
      sortMode="single"
      [sortField]="'name'"
      (onLazyLoad)="this.lazyLoadUserGroups($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="w-10"></th>
          <th
            [pSortableColumn]="'name'"
            class="w-40 font-weight-normal font-roboto"
          >
            Groups
            <p-sortIcon [field]="'name'"></p-sortIcon>
          </th>
          <th class="w-40 font-weight-normal font-roboto">
            Description
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-userGroup>
        <tr>
          <td rowspan="1">
            <app-checkbox
              (onChange)="userGroupSubject.next([$event, userGroup])"
            ></app-checkbox>
          </td>
          <td class="name">{{ userGroup.name }}</td>
          <td class="text-break description">{{ userGroup.description }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</app-general-modal-template>
