@import "~src/assets/sass/_mixins";
@import "~src/assets/sass/_variables";

.filter {
  padding-left: 0;
}

tr {
  .name {
    flex: 4;
  }
  .description {
    flex: 5;
    @include ellipsis();
  }
  &:hover {
    .description {
      white-space: normal;
      overflow-wrap: break-word;
      width: 0;
    }
    height: auto;
  }
}

.table-wrapper {
  @include table_popup();
}
