<div class="modal-content-wrapper">
  <div class="modal-header">
    <i class="material-icons close" (click)="onClose()">close</i>
    <h4 *ngIf="vault.id">Edit vault item</h4>
    <h4 *ngIf="!vault.id">Add vault item</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" id="title" class="form-control" [(ngModel)]="vault.key" required />
    </div>
    <div class="form-group">
      <label>Description:</label>
      <input type="text" id="title" class="form-control" [(ngModel)]="vault.description" />
    </div>
    <div class="form-group">
      <label>Value:</label>
      <input type="text" id="title" class="form-control" [(ngModel)]="vault.value" [required]="!vault.id" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="kh-btn kh-btn-gray" (click)="onClose()">Cancel</button>
    <button type="submit" class="kh-btn-blue kh-btn" (click)="onConfirm()" [disabled]="(!vault.key || (!vault.id && !vault.value))">Save</button>
  </div>
</div>