@import "~assets/sass/mixins";
.main {
    font-family: Roboto;
    @include page-list-items();
    .list-content {
        .table-wrapper {
            @include table();
            .actions-wrapper{
              text-align: center;
              width: 100%;
              
              .garbage {
                cursor: pointer;
              }
            }
            .name-wrapper {
                display: flex;
                align-items: center;
                i {
                    margin-right: 10px;
                }
            }
        }
    }
}