@import "~assets/sass/mixins";
.main {
    font-family: Roboto;
    @include page-list-items();
    .list-content {
        .table-wrapper {
            @include table();
            .garbage {
                cursor: pointer;
                padding-left: 26px;
            }
            .name-wrapper {
                display: flex;
                align-items: center;
                i {
                    margin-right: 10px;
                }
            }
        }
    }
}