<div class="main">
  <div class="head-title">
    <h1 class="section-title">Maps</h1>
  </div>
  <div class="list-content">
    <p class="featured-title">Recently executed maps</p>

    <div class="map-cards-wrapper">
      <map-cards [maps]="recentMaps" [showPieChart]="false"></map-cards>
    </div>
    <div class="row">
      <a routerLink="/maps/create" class="kh-btn kh-btn-blue">Add a New Map</a>
      <div class="filters">
        <div class="filter-archive">
          <label class="control control-checkbox">
            Show archived maps
            <input type="checkbox" id="archive" [(ngModel)]="filterOptions.isArchived" (change)="reloadMaps()">
            <div class="control_indicator"></div>
          </label>
        </div>
        <div class="filter-text">
          <div>
            <i class="material-icons" [hidden]="filterOptions.globalFilter">search</i>
            <i class="material-icons text-light pointer" [hidden]="!filterOptions.globalFilter" (click)="clearSearchFilter()">close</i>
            <input class="form-control" [(ngModel)]="filterOptions.globalFilter" type="text" placeholder="Filter" #globalFilter />
          </div>
        </div>
      </div>
    </div>

    <div class="table-wrapper">
      <p-dataTable [value]="maps" [lazy]="true" [rows]="tablePageSize" [paginator]="true" [totalRecords]="resultCount"
        (onLazyLoad)="loadMapsLazy($event)">
        <p-column field="name" header="Name" [sortable]="true">
          <ng-template let-col let-map="rowData" pTemplate="body">
            <div class="name-wrapper">
              <i class="material-icons" [hidden]="!map.archived">archive</i>
              <a [routerLink]="map.id">{{ map.name }}</a>
            </div>
          </ng-template>
        </p-column>
        <p-column field="project.name" header="Project" [sortable]="true">
          <ng-template let-col let-map="rowData" pTemplate="body">
            <a [routerLink]="['../projects', map.project.id]">{{ map.project.name }}</a>
          </ng-template>
        </p-column>
        <p-column field="latestExectionResult.finishTime" header="Last Run" [sortable]="true">
          <ng-template let-col let-map="rowData" pTemplate="body">
            <span>{{ (map.latestExectionResult?.finishTime | date: 'dd/MM/yyyy HH:mm') || '' }}</span>
          </ng-template>
        </p-column>
        <p-column field="description" header="Description" [sortable]="true">
          <ng-template let-col let-map="rowData" pTemplate="body">
            <div class="ellipsis">{{map.description}}</div>
          </ng-template>
        </p-column>
        <p-column field="createdAt" header="Created" [sortable]="true">
          <ng-template let-col let-map="rowData" pTemplate="body">
            <span>{{ map.createdAt | date: 'dd/MM/yyyy HH:mm' }}</span>
          </ng-template>
        </p-column>
        <p-column field="updatedAt" header="Updated" [sortable]="true">
          <ng-template let-col let-map="rowData" pTemplate="body">
            <span>{{ ((map.updatedAt | date: 'dd/MM/yyyy HH:mm') || '')}}</span>
          </ng-template>
        </p-column>
        <p-column field="" header="Actions" [sortable]="true" [style]="{width:'120px'}">
          <ng-template let-col let-i="rowIndex" let-map="rowData" pTemplate="body">
            <div class="actions-wrapper">
              <i class="material-icons garbage" (click)="onConfirmDelete(map.id)">delete_outline</i>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>

</div>