Source: production-map
Section: net
Priority: optional
Maintainer: Lior Kaplan <lior@kaplanopensource.co.il>
Build-Depends: nodejs
Standards-Version: 4.0.0
Homepage: http://www.productionmap
Vcs-Browser: https://github.com/ProductionMap/PM-server.git

Package: production-map-server
Architecture: all
Depends: nodejs
Suggests:mongodb | mongodb-orig
Description: platform for developing and executing DevOps automations
 This package requires nodejs and mongodb to work, please
 check https://github.com/nodesource/distributions#deb and
 https://docs.mongodb.com/master/tutorial/install-mongodb-on-debian/
 .
 Mongodb instance can be either local or remote, by using these
 environment variables: MONGO_HOST, MONGO_PORT and DB_NAME
 .
 Sources at https://github.com/ProductionMap/PM-server
