<div class="pm-modal">
  <div class="modal-header">
    <i class="material-icons close" (click)="onClose()">close</i>
    <h4>Enter configuration name</h4>
  </div>
  <div class="modal-body">
    <div class="content-wrapper">
      <input type="text" class="form-control" [(ngModel)]="name">
      <small *ngIf="configExist" class="config-exist">This configuration's name already exists</small>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="kh-btn kh-btn-gray" (click)="onClose()"><span>Cancel</span></button>
    <button class="kh-btn-blue kh-btn" (click)="onConfirm()"><span>Confirm</span></button>
  </div>
</div>