@import "~assets/sass/variables";

.modal-body{

    .input-wrapper{
        position:relative;

        input{
            height:35px;
            width:100%;
            padding-left:10px;
            border-radius: 3px;
            border:none;outline:none;
        }

        .add-btn{
            position:absolute;
            right: 15px;
            top: 4px;
            border:none;
            height:20px;
            width:20px;
            border-radius:100%;
            outline:none;
            font-weight:bold;
            padding:2px;
            cursor: pointer;
            color : $turquoise-blue;
        }
    }
    .attributes{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        min-height: 41px;
        .tag{
            background-color: #3f4247;
            height: 28px;
            border-radius: 3px;
            margin-right: 13px;
            margin-bottom: 13px;
            position:relative;
            span{
                height: 17.2px;
                font-size: 14px;
                padding-left: 10px;
                padding-right: 41px;
                color: $turquoise-blue
            }
            a{
                position: absolute;
                right: 15px;
                top: 0px;
                border: none;
                height: 20px;
                width: 20px;
                border-radius: 100%;
                outline: none;
                text-align: center;
                font-weight: bold;
                padding: 2px;
                color : $turquoise-blue;

                .btn-close{
                    cursor: pointer;
                }
            }
        }
    }

    label{
        font-size: 14px;
        color: $greyish-text;
        margin-top: 25px;
    }
    select{
        width: 445px;
        height: 36px;
        border-radius: 3px;
        background-color: #3f4247;
    }

}