<div class="row grid-view">
  <div class="card dashboard-card" *ngFor="let item of items; let i = index" [routerLink]="['/maps',(item._id || item.id), 'results']">
    <div class="card-body" [class.no-chart]="!showPieChart">
      <div class="content-card">
        <h5 class="card-title">{{ item.map.name }}</h5>
        <p class="trigger-by ellipsis" *ngIf="item.exec">Trigger: {{ item.exec.trigger }} </p>
        <p *ngIf="item.exec">Last run: {{ item.exec.startTime | date: 'short' }}</p>
        <p *ngIf="!item.exec">Last run: Not executed yet</p>
        <!-- <p>Status:   {{ item.status}}</p> -->
        <div class="project">Project: &nbsp;<a class="link" (click)="goToProject($event, item.project._id)"> {{
            item.project.name}}</a> </div>
      </div>
      <div class="chart-wrapper" *ngIf="showPieChart">
        <app-execution-chart [size]=[130,130] [result]="results[i]"></app-execution-chart>
      </div>
    </div>
  </div>
</div>