@import "~assets/sass/variables";
table {
    thead {
        th {
            height: 21px;
            font-size: 18px;
            color: $greyish-text;
            font-weight: inherit
        }
    }
    tbody {
        tr {
            cursor: grab;
        }
    }
    td {
        padding: 0 15px;
        vertical-align: middle;
        .icons-btn {
            padding-left: 0;
            &:hover{
                color:$greyish-text;
            }
        }
        >div {
            display: flex;
            align-items: center;
            >i {
                margin-right: 7px;
            }
        }
        &.item {
            height: 16px;
            font-size: 14px;
            color: $greyish-text;
            .name {
                .material-icons {
                    font-size: 13px;
                    margin-right: 13px;
                    
                }
            }
        }
        .material-icons{
            color:$greyish-text;
        }
    }
}