<table class="table">
    <thead>
        <tr>
            <th class="header-name" scope="col">Name</th>
            <th scope="col">Url</th>
            <th scope="col">Tags</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let item of agents | in: group?.agents; let i = index" pDraggable="dd" (onDragStart)="dragStart($event, item)">
            <td class="item">
                <div class="name">
                    <i [ngClass]="{'text-success': agentsStatus[item?.id]?.alive, 'text-danger': !agentsStatus[item?.id]?.alive}"
                        *ngIf="agentsStatus" class="material-icons">fiber_manual_record</i>
                    <span class="item">{{item.name}}</span>
                </div>
            </td>
            <td class="item">{{item.url}}</td>
            <td class="item">{{item.attributes}}</td>
            <td>
                <button class="btn btn-link icons-btn" (click)="deleteAgent(item._id)" tooltip="Delete" placement="bottom"><i
                        class="material-icons">delete</i></button>
                <button class="btn btn-link icons-btn" (click)="editAgent(i)" tooltip="Edit" placement="bottom"><i
                        class="material-icons">edit</i></button>
                <button class="btn btn-link icons-btn" (click)="removeAgentFromGroup(item._id, group._id)" tooltip="Remove from group"
                    placement="bottom" *ngIf="group"><i class="material-icons">close</i></button>
            </td>
        </tr>

    </tbody>
</table>