<div class="main">
  <div class="section-title-wrapper head-title header">
    <h1 class="section-title">Vault</h1>
    <button class="kh-btn kh-btn-blue add-item" (click)="upsertItem()">Add item</button>
  </div>

  <div class="content-wrapper">
    <p-dataTable [value]="vaultItems" [rows]="15" [paginator]="true" [pageLinks]="4" [hidden]="!vaultItems || !vaultItems.length">
      <p-column field="name" header="Name" [sortable]="true" [style]="{'width':'300px'}">
        <ng-template let-col let-item="rowData" pTemplate="body">
          <span>{{ item.key }}</span>
        </ng-template>
      </p-column>
      <p-column field="description" header="Description" [sortable]="true">
        <ng-template let-col let-item="rowData" pTemplate="body">
          <div class="item-description ellipsis">{{item.description}}</div>
        </ng-template>
      </p-column>
      <p-column field="" header="Actions" [style]="{'width':'150px', 'text-align':'center'}">
        <ng-template let-col let-i="rowIndex" let-item="rowData" pTemplate="body">
            <div class="actions-wrapper">
                <i class="material-icons garbage" (click)="upsertItem(item)">delete_outline</i>
                <i (click)="upsertItem(item)" class="material-icons garbage">edit</i>
            </div>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>