@import "~src/assets/sass/mixins";
.main {
    width: 100%;
    .header{
        display: flex;
        justify-content: space-between;
       .add-item{
            margin-right: 37px;
        }
    }

    .content-wrapper{
        padding: 18px 40px;
        @include table();
        .actions-wrapper{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            .garbage{
                cursor: pointer;
            }
        }
    }
}