<div class="main">
  <div class="section-title-wrapper">
    <h1 class="section-title">Vaults</h1>
    <button class="btn pm" (click)="onOpenModal()">add vault</button>
  </div>


  <p-dataTable [value]="vaults" [rows]="15" [paginator]="true" [pageLinks]="4" [globalFilter]="gb" [hidden]="!vaults || !vaults.length">
    <p-column field="name" header="Name" [sortable]="true">
      <ng-template let-col let-vault="rowData" pTemplate="body">
        <span>{{ vault.name }}</span>
      </ng-template>
    </p-column>
    <p-column field="description" header="Description" [sortable]="true">
      <ng-template let-col let-vault="rowData" pTemplate="body">
        <span>{{ vault.description | truncatechars : 70 : '' }}<span class="etc" *ngIf="plugin?.description?.length > 70">
            ... </span></span>
      </ng-template>
    </p-column>

    <p-column field="" header="Delete">
      <ng-template let-col let-i="rowIndex" let-vault="rowData" pTemplate="body">
        <button class="btn btn-link" (click)="deleteVault(vault.id)" tooltip="Delete" placement="bottom"><i class="material-icons">delete</i></button>
      </ng-template>
    </p-column>
    <p-column field="" header="Edit">
      <ng-template let-col let-i="rowIndex" let-vault="rowData" pTemplate="body">
        <button class="btn btn-link" (click)="onOpenModal(vault)" tooltip="Edit" placement="bottom"><i class="material-icons">edit</i></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>