@import "~src/assets/sass/variables";

@import "~src/assets/sass/mixins";
.main {
    width: 100%;
    .header{
        display: flex;
        justify-content: space-between;
       .add-item{
            margin-right: 37px;
        }
    }


    
    @include table();
    .actions-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        .garbage{
            cursor: pointer;
        }
    }
    
}