.main {
    width: 100%;
    .header{
        display: flex;
        justify-content: space-between;
       .add-item{
            margin-right: 37px;
        }
    }
    .item-description{
    }

    .actions-wrapper{
        text-align: center;
    }
}