[Unit]
Description=Kaholo server
After=network-online.target

[Service]
Restart=always
WorkingDirectory=/etc/kaholo/server
ExecStart=/usr/bin/nodejs /etc/kaholo/server/app.js 

[Install]
WantedBy=multi-user.target

