@import "~src/assets/sass/_mixins";
@import "~src/assets/sass/_variables";
:host {
  max-height: 580px;

  .filter {
    padding-left: 0;
  }

  @include table_popup();

  .form-control {
    max-width: 195px;
  }

  .custom-checkbox {
    @include custom-checkbox();
  }
}
