.featured {
  width: 100%;
  display: flex;
  cursor: pointer; 
  
  .col {
    flex-grow: 1;
    max-width: 450px;
    padding-left: 0;

    &:last-of-type{
      padding-right: 0;
    }
    
    .card {
      height: 150px;
      overflow-y: hidden;
      &:hover{
        text-decoration:none;
        color:inherit;
      }
    
      .card-body {
        padding: 16px 18px 18px 16px;
        


        .card-text {
          height: 75px;
          overflow-y: hidden;
          margin: 0;
          line-height: 18px;
        }
      }
    }
  }
}
