<div class="container">
  <p *ngIf="!triggers || triggers?.length === 0">No Triggers Yet</p>

  <div class="table-wrapper" *ngIf="triggers?.length > 0">
    <table class="table" >
      <tbody>
      <tr *ngFor="let trigger of triggers; let i = index;">
        <td>{{ trigger.name }}</td>
        <td>
          <button type="button" class="btn btn-link" (click)="openTriggerFormModal(i)">
            <i class="material-icons">mode_edit</i>
          </button>
          <button type="button" class="btn btn-link" (click)="removeTrigger(i)">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="bottom">
    <button type="button" class="kh-btn-blue kh-btn" (click)="openTriggerFormModal()">Create New</button>
  </div>
</div>
