<div class="container">
  <div class="agents">
    <div class="not-chosen" *ngIf="map?.agents?.length === 0">
      <span>No agents selected for this map</span>
    </div>
    <table class="table agents-table" *ngIf="map?.agents?.length > 0">
      <tbody>
      <tr *ngFor="let agent of map.agents; let i = index;">
        <td>
          <div class="dotStatus"  [ngClass]="{'green': statuses[agent?.id]?.alive, 'red': !statuses[agent?.id]?.alive}"
          *ngIf="statuses"></div>
        </td>
        <td>{{ agent?.name }}</td>
      </tr>

      </tbody>
    </table>

  </div>
  <div class="groups" *ngIf="map?.groups?.length">
    <p>Groups</p>
    <div class="not-chosen" *ngIf="!map?.groups || map?.groups?.length === 0">
      <span>No groups selected for this map</span>
    </div>
    <table class="table" *ngIf="map?.groups?.length > 0">
      <tbody>
      <tr *ngFor="let group of map.groups; let i = index;">
        <td><i class="material-icons">settings_input_svideo</i></td>
        <td>{{ group.name }}</td>
      </tr>

      </tbody>
    </table>
    
  </div>
  <button type="button" class="kh-btn-blue kh-btn" (click)="openSelectAgentsModal()">Select</button>
</div>
