<div class="container">
  <div class="agents">

    <span *ngIf="map?.agents?.length === 0">No agents selected for this map</span>
    <table class="table" *ngIf="map?.agents?.length > 0">
      <tbody>
      <tr *ngFor="let agent of map.agents; let i = index;">
        <td>{{ agent?.name }}</td>
        <td>
        <span
          [ngClass]="{'text-success': statuses[agent?.key]?.alive, 'text-danger': !statuses[agent?.key]?.alive}"
          *ngIf="statuses">
          <i class="material-icons">cloud_circle</i>
        </span>
        </td>
      </tr>

      </tbody>
    </table>

    <button type="button" class="btn btn-primary btn-block" (click)="openSelectAgentsModal()">Select agents</button>
  </div>
  <div class="groups">
    <hr/>
    <span *ngIf="!map?.groups || map?.groups?.length === 0">No groups selected for this map</span>
    <table class="table" *ngIf="map?.groups?.length > 0">
      <tbody>
      <tr *ngFor="let group of map.groups; let i = index;">
        <td>{{ group.name }}</td>
      </tr>

      </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-block" (click)="openSelectGroupsModal()">Select groups</button>

  </div>
</div>
