<div class="container">
  <div class="agents">
    <div class="not-chosen" *ngIf="map?.agents?.length === 0">
      <span>No agents selected for this map</span>
    </div>
    <table class="table agents-table" *ngIf="map?.agents?.length > 0">
      <tbody>
      <tr *ngFor="let agent of map.agents; let i = index;">
        <td>{{ agent?.name }}</td>
        <td>
          <i [ngClass]="{'text-success': statuses[agent?.id]?.alive, 'text-danger': !statuses[agent?.id]?.alive}"
          *ngIf="statuses" class="material-icons">cloud_circle</i>
        </td>
      </tr>

      </tbody>
    </table>

    <button type="button" class="btn btn-primary" (click)="openSelectAgentsModal()">Select agents</button>
  </div>
  <div class="groups">
    <div class="not-chosen" *ngIf="!map?.groups || map?.groups?.length === 0">
      <span>No groups selected for this map</span>
    </div>
    <table class="table" *ngIf="map?.groups?.length > 0">
      <tbody>
      <tr *ngFor="let group of map.groups; let i = index;">
        <td>{{ group.name }}</td>
      </tr>

      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="openSelectGroupsModal()">Select groups</button>

  </div>
</div>
