@import "~assets/sass/variables";

.container {

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding : 0;

  table {
    td {
      vertical-align: middle;
    }

    &.agents-table{
      tbody tr td{
        &:first-of-type{
          width: 60%;
          padding: 0 0 0 10px;
        }
        &:last-of-type{
          text-align: right;
          padding: 0 10px 0 0;

          i{
            line-height: initial;
          }
        }
      }
    }
  }

  button {
    align-self: center;
    border-radius: 25px;
    background: transparent;
    border: 4px solid $turquoise-blue;
    &:hover {
      background: $turquoise-blue;
      color: #000;
    }
  }

  > div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &:not(:last-of-type){
      border-bottom : 1px solid rgba(0,0,0,.1);
    }
  }
}
