.row{
    width: 510px;
    height: 460px;
    border-radius: 4px;
    background-color: #2d3236;
    .modal-header{
        width: 510px;
        margin-left: -16px;
        border-bottom: 1px solid #404549;
        h4{
            height: 25px;
            font-size: 22px;
            text-align: center;
            color: #dddddd;
            margin-left: 185px
        }
    }
    label{
        width: 140px;
        font-size: 14px;
        color: #dddddd;
        margin-top: 25px;
    }
    input,select{
        width: 445px;
        border-radius: 3px;
        background-color: #3f4247;
    }
   .modal-footer{
       margin-right: 5px;
    }
   
}