<div class="modal-content-wrapper">
    <div class="modal-header">
        <i class="material-icons close" (click)="onClose()">close</i>
        <h4 *ngIf="!edit">Add Filter</h4>
        <h4 *ngIf="edit">Edit Filter</h4>

    </div>
    <div class="modal-body">
        <div class="form-group dropdown">
            <label>Fields</label>
            <p-dropdown  [(ngModel)]="filter.field" [options]="fieldsDropDown" placeholder="Select a field" 
                        [autoWidth]="false">
            </p-dropdown>
            <label>Type</label>
            <p-dropdown [(ngModel)]="filter.filterType" [options]="filterDropDown" placeholder="Select a filter" 
                        [autoWidth]="false">
            </p-dropdown>

            <label>Value</label>
            <input class="form-control" [(ngModel)]="filter.value" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="kh-btn kh-btn-gray" (click)="onClose()"><span>Cancel</span></button>
        <button class="kh-btn-blue kh-btn" (click)="onConfirm()"><span>Create</span></button>
    </div> 
</div>