@import "~src/assets/sass/variables";
.modal-body{
    label{
        font-size: 14px;
        color: $greyish-text;

        &:not(:first-of-type){
            margin-top: 25px;
        }
    }
    input,select{
        border-radius: 3px;
        background-color: #3f4247;
    }
}