<div [formGroup]="form">
  <div formArrayName="params">
    <div *ngFor="let param of paramsForm.controls; let k = index">
      <div [formGroupName]="k">
        <div class="row param-wrapper">
          <div class="col-4">
            <div *ngIf="param.value.description" class="tooltiptext">
              <i class="material-icons" [tooltip]="param.value.description"  placement="left"  aria-hidden="true">help_outline</i>
            </div>
            <span>{{param.value.viewName}} {{ params[k].required? '*' :'' }} </span>
          </div>
          <hr>
          <div *ngIf="code">
              <div class="col-2">
                  <label class="control control-checkbox">
                      <input type="checkbox" class="form-control" formControlName="code">
                      <div class="control_indicator check-control"></div>
                  </label>
                </div>
          </div>
          <hr>
          
          <div class="input dropdown" [ngSwitch]="param.value.type">
            <div [hidden]="param.value.code">
              <textarea formControlName="value" class="form-control" *ngSwitchCase="'text'"></textarea>
              <app-autocomplete  *ngSwitchCase="'vault'" formControlName="value" [model]="'Vault'" ></app-autocomplete>
              <app-autocomplete  *ngSwitchCase="'autocomplete'" formControlName="value" [model]="params[k].model" [modelId]="paramsForm.controls[0].value"></app-autocomplete>
              <app-options-param *ngSwitchCase="'options'" [options]="params[k].options" formControlName="value"></app-options-param>    
              <input formControlName="value" type="number" step="any" class="form-control" *ngSwitchCase="'float'">

              <label class="  control control-checkbox"  *ngSwitchCase="'boolean'" >
                  <input type="checkbox" class="form-control" formControlName="value">
                  <div class="control_indicator check-control"></div>
                </label>
            

              <input formControlName="value" type="number" class="form-control" *ngSwitchCase="'int'">
            </div>
            <input formControlName="value" type="text" class="form-control" *ngSwitchDefault>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

