/* You can add global styles to this file, and also import other style files */
@import "~src/assets/sass/variables";
@import "~src/assets/sass/base";
@import "~src/assets/sass/mixins";

@font-face {
  font-family: "OpenSans";
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}

html, body {
  font-family: "Roboto";
  height: 100%;
  @extend .main-background;
}

.section-title {
  @extend .section-title;
}
.pointer{
  cursor: pointer;
}

.dotStatus {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  &.green {
      background-color: #38ba24;
  }
  &.red {
      background-color: #de293f;
  }
}


.kh-btn{
  border:none;
  outline: none !important;
  cursor: pointer;
  height: 38px;
  border-radius: 19px;
  padding: 5px 22px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  
  &:not(:last-child){
    margin-right: 15px !important;
  }
 
  &:hover{ 
    text-decoration: none;
    color : #ffffff;
  }

  &:disabled{
    cursor: default;
  }

  &-blue{
    background-color:#44acdf;
    &:hover{
      background-color:#2897ce
    }
    &:disabled{
      background-color: #35627a;
      color : #698a9c;
    }
  }

  &-gray{
    background-color:#828384;
    &:hover{
      background-color: #737475
    }
    &:disabled{
      background-color: #484b4f;
      color: #727477;
    }
  }
}

.section-sub-title {
  @extend .section-sub-title;
}

.pane-title {
  @extend .pane-header;
}

.bg-black {
  color: $light-color;
  background: $dark-color;
}

input, textarea, select {
  border: 1px solid $input-border !important;
  background-color: $input-bg !important;
  outline: none !important;
  color: $greyish-text !important;
  &.ng-invalid.ng-touched {
    border: 1px solid $error !important;
  }
  &:focus {
    outline-style: none;
    outline-width: 0px;
    box-shadow: none !important;
    border: 1px solid $turquoise-blue !important;
  }
  &:disabled {
    background-color: $selected-tab-environment !important;
  }
}

textarea {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* make scrollbar invisible */
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* make scrollbar invisible */
}


.main {
  overflow-y: auto;

}

.card {
  @extend .card;
}

.list-group-item.active {
  background-color: $blue-dark-2;
  border-color: $blue-dark-2;
}

.bs-datepicker-body, bs-datepicker-head {
  background: $grey-dark-1;
  border: 1px solid $grey-light-1;
  border-radius: 5px;
}

a {
  color: $turquoise-blue;
}

/* prime ng table*/
.ui-state-default {
  color: inherit;
}

.ui-widget-content {
  a {
    color: $turquoise-blue;
  }
}

.ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
  background-color: inherit;
}

.ui-datatable thead tr {
  background: none;
  border: none;
  border-bottom: 1px solid $cool-grey;
}

.ui-datatable th.ui-state-default, .ui-datatable .ui-datatable-thead > tr > th {
  border: none;
  background: none;
  color: $greyish-text;
}

.ui-datatable thead th {
  text-align: left;
  font-size: 18px;
  font-weight: bolder;
  padding: 5px;
}

.ui-widget-content, .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
  border: none;
  background: none;
  color: $greyish-text;
  border-bottom: 1px solid $cool-grey;

}

tr.ui-widget-content.ui-datatable-odd {
  &:hover {
    background-color: $hover-color;
    box-shadow: -4px 0px 0px 0px $turquoise-blue;
  }
}

.ui-datatable .ui-datatable-data > tr > td {
  border: none;
  border-bottom: 1px solid $cool-grey;
}

.ui-datatable tbody > tr.ui-widget-content {
  border: none;
}

.ui-widget-header {
  background: none;
  border: none;
  border-bottom: 1px solid $cool-grey;
  text-align: left;
}

.ui-paginator .ui-paginator-page, .ui-state-default {
  background: none;
  border: 0;
  &.ui-state-active {
    background: none;
    border: 1px solid $turquoise-blue;
    border-radius: 0;
  }
  &:hover {
    background: none;
  }
}

/* primeng checkbox */

.ui-chkbox-box {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  background-color: $input-bg;
  &.ui-state-active {
    background-color: $pale-blue;
    color: white;
  }
}

/* primeng accordion */
.ui-accordion .ui-accordion-header {
  background: none !important;
  border-top: 1px solid $cool-grey;
  &:hover {
    border-top: 1px solid $cool-grey !important;
  }
  a {
    color: $turquoise-blue !important;
  }
}

/*------*/

table, .table {
  color: $greyish-text;
  font-size: 14px;
  thead {
    th {
      border-bottom: 1px solid $cool-grey;
      &:hover {
        background: none !important;
        color: inherit !important;
      }
    }
  }
  tbody {
    tr {
      height: 48px;
      &:hover {
        background-color: $hover-color !important;
        box-shadow: -4px 0px 0px 0px $turquoise-blue;
        .ui-cell-data{
          color:#dddddd;
        }
      }
    }
  }
  th, td {
    border-top: 0px;
    border-bottom: 1px solid $cool-grey;
    a {
      text-decoration: underline;
    }

  }
}

//
.btn-link {
  color: $turquoise-blue;
  cursor: pointer;
}

// accordion
.panel {
  .panel.card {
    background: transparent !important;
  }

}

// dropdown


.dropdown-menu {
  border-radius: 3px;
  border: 1px solid #868e96;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  background: $kh-background;
  padding:  9px 7px;
  margin: 0px;
  font-size: 14px;
  .dropdown-item {
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: $dropdown-label-height;
    color: $text-color !important ;
    &:hover {
      border-radius: 3px;
      color: white;
      background: $pale-blue;
    }
  }
}

.menuitem {
  color: $text-color;
  &:hover {
    background: $turquoise-blue !important;
    color: #000 !important;

  }
}

.ui-dropdown-items-wrapper {
  background: $background;
}

rect.body {
  stroke: #bbbbbb;
  &:hover {
    fill: #3f4247;
  }
}

.port-body {
  fill: $selected-tab-environment;
  stroke: #7f7f7f;
}

.btn {
  display: inline-flex;
  cursor: pointer;

  &.pm {
    padding: 7px 29px;
    color: $text-color;
    background: transparent;
    border-radius: 20px;
    border: 2px solid $turquoise-blue;

    &:hover {
      background: $turquoise-blue;
      color: $background;
      font-weight: bolder;
    }

    > i {
      margin-left : 10px;
    }
  }
}
.modal-content{
  background: $background;
  .modal-content-wrapper {
    background: $background;
    border-radius: 6px;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
    &.no-title{
      .modal-header{
        border: none;
        position: absolute;
        right: 40px;
        top: 2px;
        z-index: 1;
        .close{
          position: absolute;
          margin:-5px -24px -28px auto;
        }
      }
    }
    &:not(.no-title){
      .modal-body{

        padding: 40px 38px 0px;
      }
    }
    .modal-header {
      border-bottom: 0;
      flex-direction: column;
      border-bottom: 1px solid #404549;
      padding: 14px 14px 0px;
      padding-top: 0 !important;
      height: 64px;
      position: relative;
      h4{
        font-size: 22px;
        font-weight: 300;
        margin: auto;
      }
      .close {
        padding: 0;
        margin: 0;
        color: $text-color;
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 14px;
      }
    }
    .modal-body {
      border-bottom: 0;
      padding: 53px 38px 0px;

      .form-group{
        margin-bottom: 25px;
        label{
          color:$greyish-text;
          font-size:14px;
          &:not(:first-of-type){
            margin-top: 25px;
          }
          &:not(.checkbox.ui-dropdown-label){
            margin-bottom: 14px;
          }
        }
      }
      &.no-button{
        margin-bottom: 38px;
      }

      .form-group:last-child{
        margin-bottom: 0px; 
      }
    }
    .modal-footer {
      border-top: 0;
      padding: 38px 38px 38px;
      button{
        margin-left: 0px;
      }

    } 
  }
}
  
.ui-datepicker {
  background: $background;
  .ui-datepicker-header {
    color: $text-color;
    .ui-corner-all {
      color: $text-color;
    }
  }
  table.ui-datepicker-calendar {
    thead {
      color: $turquoise-blue;
      border-bottom: 1px solid $cool-grey;
      th {
        background: transparent !important;
      }
    }
  }
  .ui-timepicker {
    text-align: center;
    color: $turquoise-blue;
  }
}

.popover {
  max-width: 100%;
  min-width: 750px;
  background: $background;
  .arrow {
    &:after {
      border-right-color: $background !important;
    }
  }
  .popover-body {
    color: $text-color;
  }
}

.cal-month-view {
  .cal-day-badge {
    background-color: $turquoise-blue;
  }
  .cal-cell-row {
    &:hover {
      background-color: transparent;
    }
    .cal-cell {
      &:hover {
        background: transparent;
      }
      &.cal-open {
        background: transparent;
        border: 3px solid $turquoise-blue;
      }
    }

  }
  .cal-day-cell {
    &:not(:last-child) {
      border-right: 1px solid $cool-grey;
    }
    &.cal-today {
      background-color: $dark-background;
    }
    &.cal-weekend {
      .cal-day-number {
        color: $greyish-text;
      }
    }
  }
  .cal-days {
    border: 1px solid $cool-grey;
    .cal-cell-row {
      border-bottom: 1px solid $cool-grey;

    }
  }
}

.ui-dropdown-label {
  &.ui-inputtext {
    background-color: $input-bg;
    border: 1px solid $input-border !important;
    background-color: $input-bg !important;
    color: $greyish-text;
  }
}

span[contenteditable=true]{
  display: inline-block;
  &:hover{
    cursor: text;
  }

  &:empty{
    &:before{
      content: attr(placeholder);
      color: gray;
    }
  }
}

.pm-inline-edit {
  padding: 5px;
  &:hover, &:focus, &:empty {
    background: $input-bg;
    border-radius: 5px;
    border: 1px solid $input-border;
    outline: none !important;
  }
}
.head-title{
  width: 100%;
  height: 70px;
  background-color: $kh-background;
  display: flex;
  align-items: center;
  h1{
      font-weight: 300;
      margin: 0px 0px 0px 40px;
      font-size: 22px;
      line-height: normal;
      color: $kaholo-orange;
      padding-right: 10px
  }    
}


.pm-main-wrapper{
  padding : 20px 30px;
}

.row{
  margin-left : 0;
  margin-right : 0;
}

.fas{
    font-family: fontawesome !important;
}

.ellipsis{
  @include ellipsis();
}