@import "~assets/sass/base";
@import "~assets/sass/mixins";
.pad {
    margin-top: 25px;
}

.link {
    cursor: pointer;
    &:hover {
        @extend .focus-shadow;
        transition: box-shadow 0.3s ease-in-out;
    }
}

.main {
    @include table();
    a,
    button {
        &.create {
            margin-top: 15px;
            margin-right: 10px;
        }
    }
    >.row {
        flex-direction: column;
        .section-sub-title {
            width: 63%;
        }
        .featured-projects {
            width: 100%;
        }
    }
    .filter {
        margin-top: 25px;
        h5 {
            padding-bottom: 15px;
        }
        @include searchBox();
        .loadProject {
            width: 220px;
            height: 34px;
        }
    }
}

.featured {
    padding-left: 10px;
    padding-right: 10px;
    .card {
        height: 150px;
        overflow-y: hidden;
        .card-body {
            padding: 16px 18px 18px 16px;
            .card-text {
                height: 75px;
                overflow-y: hidden;
                margin: 0;
                line-height: 18px;
            }
        }
    }
}