@import "~src/assets/sass/base";
@import "~src/assets/sass/mixins";
.pad {
    margin-top: 25px;
}

.link {
    cursor: pointer;
    &:hover {
        @extend .focus-shadow;
        transition: box-shadow 0.3s ease-in-out;
    }
}

.main {
    @include table();
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

    .name-wrapper{
      i {
        margin-right: 10px;
      }
    }

    a,
    button {
        &.create {
            margin-top: 15px;
            margin-right: 10px;
        }
    }
    >.row {
        flex-direction: column;
        width: 100%;
        .section-sub-title {
            width: 63%;
        }
        .featured-projects {
            width: 100%;
        }
    }
    @include page-list-items();
}

.featured {
    padding-left: 10px;
    padding-right: 10px;
    .card {
        height: 150px;
        overflow-y: hidden;
        .card-body {
            padding: 16px 18px 18px 16px;
            .card-text {
                height: 75px;
                overflow-y: hidden;
                margin: 0;
                line-height: 18px;
            }
        }
    }
}
