<div class="main">
    <div class="head-title">
        <h1 >Projects</h1>
      </div>

  <div class="list-content">
      <p class="executed-title">Recently added</p>
      <div class="featured-projects">
          <app-feature [items]="featuredProjects" prefix="projects"></app-feature>
        </div>

<div class="row">
    <a routerLink="/projects/create" class="btn btn-blue">Add project</a>
    <div class="filters">
      <div class="filter-archive">
        <label class="control control-checkbox">
          Show archived projects
          <input type="checkbox" id="archive"  [(ngModel)]="filterOptions.isArchived" (change)="reloadProjects()">
          <div class="control_indicator"></div>
      </label>
      </div>
      <div class="filter-text">
        <div>
          <i class="material-icons" *ngIf="!filterTerm">search</i>
          <i class="material-icons" *ngIf="filterTerm" (click)="filterTerm = null">close</i>
          <input class="form-control loadProject" [(ngModel)]="filterTerm" type="text" placeholder="Filter" (keyup)="loadProjectLazy(filterTerm)" />
        </div>
      </div>
    </div>
  </div>

  <p-dataTable [value]="projects" [lazy]="true" [rows]="15" [paginator]="true" [totalRecords]="resultCount"
    (onLazyLoad)="loadProjectLazy($event)" [globalFilter]="filterTerm">
    <p-column field="name" header="Name" [sortable]="true">
      <ng-template let-col let-project="rowData" pTemplate="body">
        <div class="name-wrapper">
          <i class="material-icons" [hidden]="!project.archived">archive</i>
          <a [routerLink]="project.id">{{ project.name }}</a>
        </div>
      </ng-template>
    </p-column>
    <p-column field="description" header="Description" [sortable]="true">
      <ng-template let-col let-project="rowData" pTemplate="body">
        <div class="ellipsis">{{ project.description }}</div>
      </ng-template>
    </p-column>
    <p-column field="createdAt" header="Created" [sortable]="true">
      <ng-template let-col let-project="rowData" pTemplate="body">
        <span>{{ (project.createdAt | date: 'dd/MM/yyyy') + ' ' + (project.createdAt | date: 'HH:mm') }}</span>
      </ng-template>
    </p-column>
    <p-column field="updatedAt" header="Updated" [sortable]="true">
      <ng-template let-col let-project="rowData" pTemplate="body">
        <span>{{ ((project.updatedAt | date: 'dd/MM/yyyy') || '') + ' ' + ((project.updatedAt | date: 'HH:mm') || ''
          )}}</span>
      </ng-template>
    </p-column>
  </p-dataTable>

</div>  

</div>